<div class="text">
    <section>
        <p>
            — Ну что, не передумал, голубчик? — услышал он вопрос.
        </p>
        <p>
            — Егор, давайте мы мирно всё решим. Никому не нужны лишние жертвы, — включился в разговор человек из
            правительства.
        </p>
        <p>
            Решили поиграть в злого и доброго полицейского. Как это банально.
        </p>
    </section>
</div>
