body {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.page {
  display: grid;
  grid-template-columns: auto 481px;
  grid-template-rows: auto auto;
  justify-content: center;
}

.left-side {
  //width: 962px;
  width: 870px; //1366, но не пойму откуда именно такое значение вышло
  border: 1px red solid;
}

.right-side {
  border: 1px red solid;
  width: 481px;
}

.text {
  padding: 20px;
  //max-height: 800px;
  max-height: 500px;

  //mCustomScrollbar Styles
  .mCS-activeBook-default {
    &.mCSB_scrollTools {
      .mCSB_dragger {
        .mCSB_dragger_bar {
          width: 6px;
          //height: 102px;
          opacity: 0.93;
          border-radius: 100px;
          background: linear-gradient(to right, #ff7e5f, #feb47b);
        }
      }

      .mCSB_draggerRail{
        background-color: #fff;
      }
    }
  }

  header {
    font-family: RobotoBold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-bottom: 24px;
  }

  article {
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 1.2;
  }

  h1 {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 16px;
  }

  p {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 16px;

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }

  a {
    &.action {
      color: #fd0006;
      opacity: 0.85;
      transition: ease all 0.3s 0s;

      &:hover {
        opacity: 1;
        text-shadow: 2px 2px 2px #fd0006;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  width: 100%;
  padding: 0 20px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;

    &:nth-child(1) {
      margin-left: 0;
    }

    .obj-img__wrapper {
      height: 100%;
      width: 100%;

      cursor: pointer;

      svg {
        path {
          fill: #000;
          transition: all ease 0.3s 0s;
        }
      }

      &:hover {
       svg {
         path {
           fill: #F2C94C;
         }
       }
      }

      &.active {
        svg {
          path {
            fill: #F2994A;
          }
        }
      }
    }

    &.font-size-up {
      margin-left: 10px;
    }

    &.page-number {
      margin-left: 24px;

      input {
        width: 60px;
        font-family: RobotoRegular, Arial, Helvetica, sans-serif;
        font-size: 12px;

        &::-webkit-input-placeholder {
          color: #000;
        }

        &::-moz-placeholder {
          color: #000;
        }
      }
    }

    &.arrow-right {
      margin-left: 24px;
    }

    &.volume {
      cursor: default;

      .range-slider__wrapper {
        margin-left: 8px;
      }

      .add-settings {
        .range-slider__wrapper {
          margin-left: 0;
        }
      }
    }

    .range-slider__wrapper {
      flex-shrink: 0;
      width: 100px;
      height: 6px;

      .irs {
        width: 100%;
        height: 100%;

        .irs-line,
        .irs-bar,
        .irs-bar-edge {
          top: 2px;
          height: 3px;
          border: none;
          background: #f2994a;
        }

        .irs-line {
          background: #c4c4c4;
        }

        .irs-bar-edge {
          width: 12px;
        }

        .irs-slider {
          top: -3px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          box-shadow: none;
          border: none;
          background: transparent;
        }
      }

      &:hover {
        .irs-line,
        .irs-bar,
        .irs-bar-edge {
          height: 6px;
          top: 0;
        }

        .irs-slider {
          background: #f2994a;
        }
      }
    }
  }
}

.add-settings {
  display: none; //change by script
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 70px;
  margin-top: -90px;
  border-radius: 8px;
  background: #f8f8f8;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(#000, 0.25);
  z-index: 1;
  cursor: default;

  &.active {
    display: block;
  }

  &__bottom {
    position: absolute;
    bottom: -16px;
    left: 14px;
    width: auto;
    border-bottom-right-radius: 22px; //todo: костыль, убрать
  }

  &__item {
    padding-top: 8px;

    &:nth-child(1) {
      padding-top: 0;
    }

    &__label {
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-transform: uppercase;
      padding-bottom: 3px;
    }
  }
}

.obj-img__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .obj-img__helper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
}