body {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 16px; }

.page {
  display: grid;
  grid-template-columns: auto 481px;
  grid-template-rows: auto auto;
  justify-content: center; }

.left-side {
  width: 870px;
  border: 1px red solid; }

.right-side {
  border: 1px red solid;
  width: 481px; }

.text {
  padding: 20px;
  max-height: 500px; }
  .text .mCS-activeBook-default.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    opacity: 0.93;
    border-radius: 100px;
    background: linear-gradient(to right, #ff7e5f, #feb47b); }
  .text .mCS-activeBook-default.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff; }
  .text header {
    font-family: RobotoBold, Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding-bottom: 24px; }
  .text article {
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 1.2; }
  .text h1 {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 16px; }
  .text p {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 16px; }
    .text p:nth-of-type(1) {
      padding-top: 0; }
  .text a.action {
    color: #fd0006;
    opacity: 0.85;
    transition: ease all 0.3s 0s; }
    .text a.action:hover {
      opacity: 1;
      text-shadow: 2px 2px 2px #fd0006; }

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  width: 100%;
  padding: 0 20px; }
  .menu__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;
    fill: #000; }
    .menu__item .obj-img__wrapper {
      cursor: pointer; }
    .menu__item:nth-child(1) {
      margin-left: 0; }
    .menu__item.font-size-up {
      margin-left: 10px; }
    .menu__item.page-number {
      margin-left: 24px; }
      .menu__item.page-number input {
        width: 60px;
        font-family: RobotoRegular, Arial, Helvetica, sans-serif;
        font-size: 12px; }
        .menu__item.page-number input::-webkit-input-placeholder {
          color: #000; }
        .menu__item.page-number input::-moz-placeholder {
          color: #000; }
    .menu__item.arrow-right {
      margin-left: 24px; }
    .menu__item.volume {
      cursor: default; }
      .menu__item.volume .range-slider__wrapper {
        margin-left: 8px; }
      .menu__item.volume .add-settings .range-slider__wrapper {
        margin-left: 0; }
    .menu__item .range-slider__wrapper {
      flex-shrink: 0;
      width: 100px;
      height: 6px; }
      .menu__item .range-slider__wrapper .irs {
        width: 100%;
        height: 100%; }
        .menu__item .range-slider__wrapper .irs .irs-line,
        .menu__item .range-slider__wrapper .irs .irs-bar,
        .menu__item .range-slider__wrapper .irs .irs-bar-edge {
          top: 2px;
          height: 3px;
          border: none;
          background: #f2994a; }
        .menu__item .range-slider__wrapper .irs .irs-line {
          background: #c4c4c4; }
        .menu__item .range-slider__wrapper .irs .irs-bar-edge {
          width: 12px; }
        .menu__item .range-slider__wrapper .irs .irs-slider {
          top: -3px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          box-shadow: none;
          border: none;
          background: transparent; }
      .menu__item .range-slider__wrapper:hover .irs-line,
      .menu__item .range-slider__wrapper:hover .irs-bar,
      .menu__item .range-slider__wrapper:hover .irs-bar-edge {
        height: 6px;
        top: 0; }
      .menu__item .range-slider__wrapper:hover .irs-slider {
        background: #f2994a; }

.add-settings {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 70px;
  margin-top: -90px;
  border-radius: 8px;
  background: #f8f8f8;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  cursor: default; }
  .add-settings.active {
    display: block; }
  .add-settings__bottom {
    position: absolute;
    bottom: -16px;
    left: 14px;
    width: auto;
    border-bottom-right-radius: 22px; }
  .add-settings__item {
    padding-top: 8px; }
    .add-settings__item:nth-child(1) {
      padding-top: 0; }
    .add-settings__item__label {
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-transform: uppercase;
      padding-bottom: 3px; }

.obj-img__wrapper {
  position: relative;
  display: flex;
  align-items: center; }
  .obj-img__wrapper .obj-img__helper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; }

/*# sourceMappingURL=css.css.map */
