<div class="text js-scrollable-item">
    <section>
        <p>
            «Дышать, продолжай дышать..» — думала она. Кровь запеклась на её лице и стала стягивать кожу.
        </p>
        <p>
            — Господи, за что?.. — услышала она свой шёпот. Ответ пришёл сам собой — «за всё». Но подвергнуть конкретике это самое «за всё» ей так и не удалось. Она перебирала различные варианты, но не могла остановиться ни на одном.
        </p>
    </section>
</div>