<div class="text">
  <section>
    <p class="todo">
      [звук комбинации]
    </p>
    <p>
      — Понял? Повтори.
    </p>
    <p>
      Егор повторил.
    </p>
    <p>
      — Отлично. Это свои ребята. Скажешь, что ты от Вени. Они проведут тебя до ж/д вокзала.
    </p>
    <p>
      Наш герой только открыл рот, собираясь рассыпаться в благодарностях, как Веня его тут же оборвал:
    </p>
    <p>
      — Потом отблагодаришь. Запомни — ровно через 5 минут! — с этими словами бородатый вышел из трюма с ящиками в
      руках.
    </p>
  </section>
</div>
