<div class="text">
    <section>
        <p>
            Взяв в руки инструменты из холодной, мужчина стал подравнивать кусты, окапывать деревья и даже постригать
            газон.
        </p>
        <p>
            Он не занимался этим уже достаточно долгое время. Завтра мышцы точно будут ныть.
        </p>
        <p>
            Конечно, всегда можно выпить обезболивающего, но иногда что-то есть в том, чтобы почувствовать, что ты вчера
            потрудился на славу.
        </p>
        <p>
            А самый лучший сон — после хорошей физической нагрузки.
        </p>
        <p>
            Впрочем, наш герой устал достаточно быстро, не прошло и двух часов.
        </p>
        <p>
            С другой стороны, ничего удивительного.
        </p>
        <p>
            Вскоре Егор спал самым крепким сном.
        </p>
    </section>
</div>