<div class="text">
    <section>
        <h1>
            Над книгой работали:
        </h1>
        <p>
            Программирование, сценарий, звук:
        </p>
        <p>
            Олег Шилов
        </p>
        <p></p>
        <p>
            Дизайн:
        </p>
        <p>
            Гордей Переходов
        </p>
        <p></p>
        <p>
            Музыка:
        </p>
        <p>
            Евгений Магдалиц
        </p>
        <p></p>
        <p>
            Редактура:
        </p>
        <p>
            Максим Авраменко
        </p>
        <p></p>
        <p>
            Тестеры:
        </p>
        <p>
            Ольга Красавчикова,
        </p>
        <p>
            Олег Худяков,
        </p>
        <p>
            Алёна Зозуля,
        </p>
        <p>
            Илькер Чавдар,
        </p>
        <p>
            Денис Нецвет
        </p>
        <p></p>
        <p>
            Мы будем рады вашей поддержке:
        </p>
        <p>
            <a href="https://www.patreon.com/" target="_blank" class="external-link">Patreon</a>
        </p>
        <p>
            <a href="https://www.paypal.com" target="_blank" class="external-link">Paypal</a>
        </p>
        <p class="go-to-page" data-go-to="main">
            <a href="#" class="action">Вернуться на главную</a>
        </p>
    </section>
</div>