<div class="text">
    <section>
        [звук прилетевшего по голове ботинка (?) какой-нибудь тыщ]

        <p>
            Ему повезло! Ботинок угодил точно в голову и вырубил цель.
        </p>
        <p>
            Противник упал навзничь, свалившись со стула на пол.
        </p>
        <p>
            Осторожно, Егор схватил тело и оттащил его к камерам — туда, где наблюдения не было.
        </p>
        <p>
            Взвалив охранника к себе на спину лицом от себя, космонавт потихоньку пошёл через комнату с камерой наблюдения.
        </p>
        <p>
            План сработал и тревога не поднялась.
        </p>
        <p>
            Небыстрым шагом, Егор подошёл к сканеру, прислонил ладонь охранника.
        </p>
        <p>
            Загорелся зелёный свет — поле отключилось.
        </p>
        <p>
            Егор продолжил движение, и, подобрав свой ботинок, вышел из комнаты с противоположной стороны, закрыв за собой дверь.
        </p>
    </section>
</div>
