<div class="text">
    <section>
        <p>
            Теперь можно было сбросить груз с плеч и обуться, что и было незамедлительно сделано.
        </p>
        <p>
            После чего Егор обыскал охранника, и не зря — он нашёл в карманах ключ-карту, которая ещё может пригодиться. И пистолет с глушителем. Герой надеялся что второе не пригодится, но на всякий пожарный случай взял и это.
        </p>
        <p>
            На карточке доступа значилось «Борис Калхун. Уровень C».
        </p>
        <p>
            Лишь бы доступа хватило на то, чтобы убраться отсюда к чёрту.
        </p>
    </section>
</div>
