<div class="text">
    <section>
        <p>
            На пути так и не встретилось ни одного окна. Но зато было много помещений, подобных тем, из которого
            вырвался Егор. Везде был ровно один охранник и одна камера слежения.
        </p>
        <p>
            По сути, путь движения представлял собой очень длинный и извилистый коридор с ответвлениями на комнаты
            заточения. Всё было белым. И чистым. Прям антиутопия какая-то.
        </p>
        <p>
            Скорее всего, во всех этих комнатах были заточены и другие люди. И Егор искренне хотел им помочь, но всех не
            спасёшь.. Нужно было начать с себя.
        </p>
    </section>
</div>
