<div class="text">
    <section>
        <p>
            К его удивлению, за дверью не было совершенно ничего.
        </p>
        <p>
            Нет, ну правда — за дверью не было пола, стен или потолка.
        </p>
        <p>
            Не было света. Пустота, если можно так выразиться.
        </p>
        <p>
            Где вообще всё это находится? И как тогда тот человек из правительства смог сюда прийти?
        </p>
        <p>
            Егор припомнил, что когда дверь открывалась — свет из комнаты ни на что не падал.
            Он просто как бы обрывался и всё, не доходя до поверхности.
        </p>
        <p>
            Это было странно, но логика подсказывала космонавту, что если здесь есть кислород — значит вряд ли эта
            комната находилась где-то в недосягаемом космическом пространстве. Скорее всего она была где-то на обитаемой
            планете.
        </p>
        <p>
            Пищевых гидро-таблеток хватит на долгое время, а значит смерти ему никто не желал.
        </p>
        <p>
            По крайней мере, пока.
        </p>
        <p>
            Здесь даже были разные вкусы и ароматы.
        </p>
        <p>
            Выживание не было проблемой, но в комнате не было совершенно ничего, чем можно было бы заняться.
            И Егор измывал от скуки.
        </p>
    </section>
</div>
