<div class="text">
    <section>
        <p>
            Кирилл приблизился к сканеру и через несколько секунд дверь открылась.
        </p>
        <p>
            За которой была ещё одна дверь..
        </p>
    </section>
</div>
