<div class="text">
    <section>
        <p>
            Сев на край кровати, он включил наладонник и стал листать новости.
        </p>
        <p>
            За ночь скачалось приличное количество информации.
        </p>
        <p>
            Но ничего интересного там не было.
        </p>
        <p>
            На мгновение ему показалось, что мелькнула какая-то новость про него самого, но она затерялась в груде
            другого текста.
        </p>
        <p>
            Включив мессенджер, Егор написал Кириллу сообщение.
        </p>
        <p>
            Но почти сразу после отправки ему вернулся статус «отклонено».
        </p>
        <p>
            Это было странновато, но космонавт решил списать это на нестабильность сети в такой дали от цивилизации.
        </p>
        <p>
            Тем временем дома его никто не ждал..
        </p>
    </section>
</div>

<div class="templates">
    <div id="side-text-scroll-left-template">
        Про спорт: Франция новый чемпион мира по футболу!;
        Про экономику: ожидается уверенный рост ВВП в этом году на 1.2%;
        Про погоду: всю следующую неделю будут идти дожди, голосовали 84% населения;
        Про людей: в моде снова ретро! Чёрно-красные тона, нуар и бледный макияж;
        Про космос: с сожаленеим сообщаем, что ракета, которую мы все так ждали не прилетит. По неизвестной причине
        произошло возгорание и последующий взрыв двигателей. Единственный член экипада погиб. Весь мир скорбит по этой
        утрате;
        Про удачу: пенсионер из Федеративной Республики Египет выиграл рекордную сумму в лотерею - 40 млрд кредитов!;
        Имя победителя не разглашается из соображений безопасности;
        Про главное: Президент Мира подписал указ о развитии цифровой экономики. Цифровая экономика - лучший вектор
        развития на многие годы вперёд;
        Про культуру: в столице Мира пройдёт выставка работ классического мориниста Айвазовского, она продлится до
        сентября следующего года;
    </div>
    <div id="side-text-scroll-right-template">
        Про спорт: Франция новый чемпион мира по футболу!;
        Про экономику: ожидается уверенный рост ВВП в этом году на 1.2%;
        Про погоду: всю следующую неделю будут идти дожди, голосовали 84% населения;
        Про людей: в моде снова ретро! Чёрно-красные тона, нуар и бледный макияж;
        Про космос: с сожаленеим сообщаем, что ракета, которую мы все так ждали не прилетит. По неизвестной причине
        произошло возгорание и последующий взрыв двигателей. Единственный член экипада погиб. Весь мир скорбит по этой
        утрате;
        Про удачу: пенсионер из Федеративной Республики Египет выиграл рекордную сумму в лотерею - 40 млрд кредитов!;
        Имя победителя не разглашается из соображений безопасности;
        Про главное: Президент Мира подписал указ о развитии цифровой экономики. Цифровая экономика - лучший вектор
        развития на многие годы вперёд;
        Про культуру: в столице Мира пройдёт выставка работ классического мориниста Айвазовского, она продлится до
        сентября следующего года;
    </div>
</div>