<div class="text">
  <section>
    <p>
      Шагать пришлось долго. Егор было уже решил, что он пропустил где-то мерцание ещё в самом начале, как вдруг глаз
      наткнулся на нечто подобное.
    </p>
    <p>
      Вздохнув с облегчением, Егор подошёл по-ближе и стал барабанить в забор заветную комбинацию.
    </p>
  </section>
</div>
