<div class="text">
    <section>
        <p>
            Наконец, Егор проснулся. Тяжело дыша, он сел и стал приходить в себя.
        </p>
        <p>
            Да-а, отдых прошёл не лучшим образом.
        </p>
    </section>
</div>