<div class="text js-scrollable-item">
    <section>
        <p>
            Она проснулась ранним утром от тошноты: сотрясение. Она закинула голову на спину и тяжело дышала, слушая стук сердца в висках. Затем резко опустила лицо и стала блевать прямо себе на живот и ноги. Впрочем, особо много вариантов не было — её тело закрепили к стулу крепко. Ах да, я совсем забыл упомянуть — она была совсем обнажена. Остаётся уповать на то, что она не заболеет туберкулёзом, что в помещении с редким светом и высокой сыростью очень даже возможно. В её положении это будет летально.
        </p>
    </section>
</div>
<!-- todo: вибрация как будто сердце стучит, как на странице 10, vibro repeat -->