<div class="text">
  <section>
    <p>
      По ту сторону послышались приглушённые голоса, которые становились всё ближе. В конце концов они стали различимы.
    </p>
    <p>
      До боли близкий Егору голос скомандовал:
    </p>
    <p>
      — Открыть дверь!
    </p>
    <p>
      После чего послышалось копошение и попытки справится с неподдающимся замком.
    </p>
    <p>
      Егор в панике искал где бы он мог спрятаться, но он и так уже достаточно хорошо схоронился.
    </p>
  </section>
</div>
