<div class="text js-scrollable-item" data-font-size="100" data-line-height="100">
    <section>
        <p>
            Следующий день, а вернее ночь, наступила быстро. Накормив её смесью фруктов, овощей, мяса и рыбы, перемолотых в блендерее, он прождал ровно 15 минут (прям стоял и пялился на свои наручные часы, отсчитывая секунды) и резким шагом подошёл к столу с инструментами. Порой удивляюсь излишней педантичностью некоторых людей. Но на этом мои удивления не закончились. На сей раз он взял в руки молоток, подошёл и просто <a href="#" class="action" data-effect-target="punch" data-effect-params='{"vibroDuration: 200"}'>наотмашь ударил</a> её по голове.
        </p>
        <p>
            Бедная даже вскрикнуть не успела — просто потеряла сознание, уронив голову себе на грудь. Кровь медленно покрывала всё её лицо — удар пришёлся чуть выше лба. Какое время наш герой, а вернее сказать, анти-герой, стоял с молотком в опущенной правой руке, смотрел на жертву и глубоко дышал, медленно моргая. Не могу сказать, что ему всё это доставляло огромное удовольствие, но сердце его билось достаточно ровно. Непонятно лишь куда подевалась вся нежность — до этого момента он обращался с ней как с королевой, если это можно назвать то, когда тебя помимо прочего медленно убивают. Что-то изменилось..
        </p>
        <p>
            Он практически не изляпался кровью. Если не считать каплю, упавшую с молотка на его коричневый ботинок. Но его это совершенно не волновало — он просто положил молоток откуда взял и подошёл к истекающей. Осмотрев рану, он удовлетворённо кивнул, зачем-то коснулся тыльной стороной ладони волос девушки и пошёл на выход. В этот раз он не произнёс не слова.
        </p>
    </section>
</div>
<div class="effects">
    <div class="effects__popups">

    </div>
    <div class="effects__sounds_bg">

    </div>
    <div class="effects__music_bg">

    </div>
    <div class="effects__sounds">
        <audio data-effect-id="punch" data-effect-type="audio">
            <source src="/book_data/audios/sound/Punch.ogg" type="audio/ogg" />
            <source src="/book_data/audios/sound/Punch.mp3" type="audio/mpeg" />
        </audio>
    </div>
</div>