<div class="text">
    <section>
        <p>
            — Здравствуй, Егор! Как слышно? — зазвучали динамики.
        </p>
        <p>
            — Здравствуйте! Небольшие помехи, но в целом слышно хорошо! — последовал ответ.
        </p>
        <p>
            — Отлично! Говорит помощник президента Мира по безопасности. Мы обнаружили фатальную неисправность в твоей
            ракете, которая в скором времени может привести к твоей гибели. Спасательная шлюпка уже отправлена. Не
            паникуй и действуй по протоколу. Времени у тебя ещё много, но лучше поторопиться. Как понял?
        </p>
        <p>
            — Вас понял, никаких проблем пока обнаружено не было, начинаю действовать незамедлительно, — отрапортовал
            Егор.
        </p>
        <p>
            — Прекрасно! Скоро пообщаемся лично. Конец связи, — сказал «зампотыл» и отключился.
        </p>
    </section>
</div>