<div class="text">
    <section>
        <p>
            В груди было какое-то щемящее чувство утраты чего-то нематериального, чего-то идеализированно-печального,
            эдакая светлая грусть и ностальгия по идеализированному детству и подростковому возрасту, когда будущая
            жизнь казалась большой светлой дорогой, и ещё не были знакомы проблемы самоопределения и отчуждения.
        </p>
    </section>
</div>