<div class="text">
  <section>
    <h1>
      Глава 14.
    </h1>
    <h2>
      В объятиях с любимой.
    </h2>
    <p>
      Егор вскрикнул и проснулся с тяжёлым дыханием. Сердце колотилось как бешеное.
    </p>
    <p>
      За окнами действительно шёл дождь, но рядом не было врагов.
    </p>
    <p>
      Была лишь его любимая Мария. Которая проснулась от криков.
    </p>
    <p>
      Она обняла мужчину за плечи и прошептала на ушко, что это был всего лишь сон.
    </p>
  </section>
</div>
