<div class="text">
    <section>
        <p>
            <b>[звуки автоматных очередей]</b>
        </p>
        <p>
            Послышался град выстрелов. Задняя стенка лифта обильно покрывалась рваными дырами.
        </p>
        <p>
            Егора охватил неподдельный ужас. Холодный пот полился ручьём по его лицу.
        </p>
        <p>
            Полковник поднял руку вверх, выстрелы остановились.
        </p>
    </section>
</div>
