<div class="text">
  <section>
    <p>
      Галлюцинации пропали так же внезапно, как и появились.
    </p>
    <p>
      И буквально пару секунд спустя подошла Виктория.
    </p>
    <p>
      — О, вижу ты уже не спишь. Отлично, нам уже пора выходить.
    </p>
    <p>
      Девушка шла впереди. И Егор украдкой рассматривал её фигуру. У него так давно не было женщины, что в голову лезли
      всякие мысли, а глаза цеплялись за разного рода округлости.
    </p>
  </section>
</div>
