<div class="text">
  <section>
    <p class="todo">
      [звук взрыва петарды]
    </p>
    <p>
      Через пару минут раздался взрыв, как будто шарахнули большой «Корсар».
    </p>
    <p>
      Все побежали смотреть, что случилось. А Егор быстро прошмыгнул в один из заполненных вагонов и спрятался внутри.
    </p>
    <p>
      «Ничего себе отвлёк» — мелькнуло у него в голове.
    </p>
    <p>
      Но, в конце концов, главное, что это сработало.
    </p>
  </section>
</div>
