<div class="text">
    <section>
        <p>
            Весь мир обсуждал трагедию.
        </p>
        <p>
            Повсюду горели свечи в память погибшему.
        </p>
        <p>
            Люди зажигали их у себя дома, на улицах и возле работы Егора.
        </p>
        <p>
            Печаль всегда сплочала людей лучше, чем радость.
        </p>
        <p>
            В глазах многих людей Егор был действительно смелым человеком.
        </p>
        <p>
            Он рискнул и проиграл. Но без потерь не бывает побед.
        </p>
        <p>
            Новые открытия всегда сопровождались жертвами.
        </p>
        <p>
            Будь то технический прогресс или информация.
        </p>
        <p>
            Жертвы иногда малые, иногда такие как сейчас.
        </p>
        <p>
            Будто жертвоприношение богам.
        </p>
        <p>
            И Егор взял на себя эту ответственность.
        </p>
    </section>
</div>