<div class="text js-scrollable-item">
    <header>
        НАЧИНАЕМ С НУЛЯ.
    </header>
    <article>
        Предисловие:
        Все описываемые персонажи события вымышлены, совпадения с реальными — чистая случайность.
        И не дай бог, чтобы такое реально с кем-то происходило.
    </article>
    <section>
        <p class="start-reading">
            <a href="#" class="action" data-effect-target="sword">Начать читать</a>
        </p>
    </section>
</div>