<div class="text js-scrollable-item">
    <section>
        <p>
            И тут она увидела стол с инструментами. Ей стало очень жутко, дыхание перехватило, зрачки расширились. Одно дело, когда тебя бьют в темноте и совсем другое, когда ты видишь весь этот ужас.
        </p>
        <p>
            Заметив её реакцию, он стал растягивать момент. Подолгу держал в руках то бейсбольную биту, то молоток, то что-то ещё. В итоге, насладившись сполна её страхом, он остановил свой выбор на бейсбольной бите. На этот раз он решил использовать иную тактику — старался как можно дольше не давать ей потерять сознание.
        </p>
        <p>
            Он бил её со всех сторон, но только не по голове.
        </p>
        <p>
            Адская боль сковала тело, в ушах звенело, душу разрывало на части. В голове мелькали непонятные образы. Сквозь удары просачивалось как будто что-то светлое. Как луч маяка сквозь туман. Явственно виднелась роза. Красная, изящная. Она словно помогала окончательно не сойти с ума, позволяя ухватиться за неё. Вскоре звук ударов по телу стал затихать. Уши до краёв заполонил звенящий шум, в глазах была лишь роза. А сердце без эмоций продолжало качать кровь, отдаваясь в висках.
        </p>
        <p>
            В конце концов маньяку надоело истязать свою жертву, и он, сильно размахнувшись, ударил девушку по голове, отправив ту в небытие.
        </p>
    </section>
</div>