<div class="text">
  <section>
    <p>
      Спустя пару тщетных попыток выкурить Егора по-хорошему, полковник процедил сквозь зубы:
    </p>
    <p>
      — Так, хватит с ним сюсюкать, мне это надоело.
    </p>
    <p>
      После чего он выхватил гранату у одного из солдат и остервенело кинул её в лифт.
    </p>
  </section>
</div>
