<div class="text">
    <section>
        <p>
            Наступило «утро».
        </p>
        <p>
            Егор помотал головой, переваривая отголоски увиденного.
        </p>
        <p>
            Да-а, бывают же странные сны.
        </p>
        <p>
            Он ещё не до конца вернулся в реальность.
        </p>
    </section>
</div>