<div class="text">
  <section>
    <p>
      Через какое-то время поезд начал резкое торможение. Егор чуть не стукнулся лицом о груз.
    </p>
    <p>
      С другой стороны, грузовые поезда никогда не отличались плавной посадкой.
    </p>
    <p>
      Но в этот раз причина была не в этом..
    </p>
  </section>
</div>
