<div class="text js-scrollable-item">
    <section>
        <p>
            Зазвенел будильник.
        </p>
        <p>
            Но он уже не спал, поэтому быстро нажал на кнопку выключения.
        </p>
        <p>
            Совершив утренний туалет, он оделся в «рабочую» форму и стал спускаться в подвал.
        </p>
        <p>
            В подвале всегда было темно и непонятно день сейчас или ночь. Девушка спала, уронив голову на левое плечо.
            Он достал устройство, напоминающее дефибриллятор, подключил его к розетке и прислонил электроды к спящей. Слегка покосившись на камеры, он стал выкручивать напряжение.
        </p>
    </section>
</div>