<div class="text">
    <section>
       <p>
           Приняв ещё успокоительного, Егор стал набирать нужные команды.
           По ходу дела, он перекрестился, сплюнул через левое плечо и постучал по голове (дерева в салоне не было).
           Исполнив все суеверные действия, которые были здесь уместны, космонавт дописал инструкции
           и нажал на кнопку «Ввод».
       </p>
        <p>
            Пришло старое доброе ощущение. Тело стало сжимать железными обручами. Началась телепортация.
        </p>
    </section>
</div>