<div class="text">
    <section>
        <p>
            Егор уже привык к инвертному миру и не обращал внимания на цвета.
        </p>
        <p>
            Всё уже стало родным.
        </p>
        <p>
            Ожидая Кирилла в уборной, он смотрел на себя в зеркало и вспоминал свою жизнь.
        </p>
        <p>
            Беспечное детство, солнце, трава. Мама, зовущая на обед. Отец, которому всего лишь 40.
        </p>
        <p>
            Как он обожал рубиться с ним в приставку!
        </p>
        <p>
            Школа, первая любовь, куча друзей. И даже драки после уроков вспоминаются с особой теплотой.
        </p>
        <p>
            Пионер-лагерь, присяга. Он с самого детства мечтал быть пионером. Конечно, это были уже не те пионеры, которые были в середине 20-го века, но и социализм тоже претерпел изменения под современные реалии.
        </p>
        <p>
            Но потом наступила юность и принесла вместе с собой проблемы.
        </p>
        <p>
            Авария, в которой погибла мать. Затянувшийся алкоголизм отца с очевидным финалом.
        </p>
        <p>
            Потеря обоих родителей очень сильно ударило по ещё юному Егору.
        </p>
        <p>
            Лишь мечта стать космонавтом позволила герою сделать то, что он сделал.
        </p>
        <p>
            Потом появилась Мария. Свет в его тёмном царстве.
        </p>
        <p>
            Она была его подарком свыше. Но он понял это, лишь когда она ушла от него.
        </p>
        <p>
            Он был так одержим своим желанием стать космонавтом, что забывал про всё на свете.
        </p>
        <p>
            Никто не может терпеть это долго. И Марию не за что винить. И он её тоже не винил.
        </p>
        <p>
            Но ему её не хватало. И всё ещё не хватает.
        </p>
        <p>
            Где-то в глубине тлеет надежда, что они ещё будут вместе. Всё-таки теперь, когда его цель была достигнута, больше не было причин быть таким мудаком. И на этот раз всё может быть иначе.
        </p>
        <p>
            Он часто мечтал, как они становятся настоящей семьёй. Со своими ценностями, домашним уютом и, конечно же, детьми.
        </p>
        <p>
            Поток его мыслей резко оборвался шагами, что доносились с внешней стороны входа в туалет.
        </p>
        <p>
            Егор быстро забежал в кабинку и закрылся на щеколду.
        </p>
    </section>
</div>
