<div class="text">
  <section>
    <p>
      За дверьми взору предстал огромный ангар и корабль, в который что-то грузили.
    </p>
    <p>
      Охранников, да и людей в целом, было очень мало. Поэтому прошмыгнуть в трюм не составило большого труда.
    </p>
    <p>
      Спрятавшись за какими-то зелёными ящиками, Егор стал ждать окончания процедуры погрузки.
    </p>
    <p>
      Он достал наладонник и продолжил «мучить» Уиллиса.
    </p>
  </section>
</div>
