@mixin transition-default() {
  transition: all ease 0.3s 0s;
}

@mixin transition-fade-default() {
  transition: opacity ease 0.3s 0s;
}

@mixin hover-default() {
  @include transition-default;

  &:hover {
    opacity: 0.65;
  }
}

@mixin hover-disable() {
  &:hover {
    opacity: 1;
  }
}

@mixin text-shadow-default() {
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.75);
}

@mixin text-shadow-dark() {
  text-shadow: 1px 1px 30px rgba(255, 255, 255, 0.75);
}

@mixin theme-menu($theme) {
  $fill: #000;
  $hover: #f2c94c;
  $active: #f2994a;
  $bg: #fff;

  @if ($theme == 'dark') {
    $fill: #a3a3a3;
    $hover: #9c9c9c;
    $active: #828282;
    $bg: #111;
  } @else if ($theme == 'black') {
    $fill: #000;
    $hover: #a3a3a3;
    $active: #111;
  } @else if ($theme == 'dark-blue') {
    $fill: #000;
    $hover: #9bc4d9;
    $active: #728c9a;
  }

  .menu {
    color: $fill;
    background-color: $bg;

    &__item {
      .obj-img__wrapper {
        svg {
          fill: $fill;
          @include transition-default;
        }

        &:hover,
        &.hover {
          svg {
            fill: $hover;
          }
        }

        &.active {
          svg {
            fill: $active;
          }
        }
      }

      .range-slider__wrapper {
        .irs {
          .irs-line,
          .irs-bar,
          .irs-bar-edge {
            background: $active;
          }

          .irs-line {
            background: $fill;
            opacity: 0.2;
          }
        }

        &:hover,
        &.hover {
          .irs-slider {
            background: $active;
          }
        }
      }

      .go-to-page-by-number {
        background-color: $active;

        &__input {
          background-color: $bg;

          @if($theme == 'dark') {
            color: #fff;
          }
        }
      }
    }
  }
}

@mixin theme-add-settings($theme) {
  $main: #f2994a;
  $second: #fff;
  $numeric: #000;

  @if ($theme == 'dark') {
    $main: #828282;
    $second: #fff;
    $numeric: #000;
  } @else if ($theme == 'black') {
    $main: #111;
    $second: #fff;
    $numeric: #000;
  } @else if ($theme == 'dark-blue') {
    $main: #728c9a;
    $second: #fff;
    $numeric: #000;
  }

  .add-settings {
    &__item {
      &__toggle {
        border: 1px $main solid;

        &__item {
          color: $main;

          &.active {
            background: $main;
            color: $second;
          }
        }
      }

      &__numeric {
        &__item {
          color: $numeric;

          input,
          &.val {
            color: $main;

            &::-webkit-input-placeholder {
              color: $main;
            }

            &::-moz-placeholder {
              color: $main;
            }
          }
        }
      }

      &.header-button {
        background: $main;

        .add-settings__label {
          color: $second;
        }
      }
    }
  }
}

@mixin theme-full-screen-menu($theme) {
  $fill: #000;
  $hover: #f2c94c;
  $active: #f2994a;

  @if ($theme == 'dark') {
    $fill: #111;
    $hover: #828282;
    $active: #a3a3a3;
  } @else if ($theme == 'black') {
    $fill: #000;
    $hover: #9c9c9c;
    $active: #111;
  } @else if ($theme == 'dark-blue') {
    $fill: #000;
    $hover: #9bc4d9;
    $active: #728c9a;
  }

  .menu-full-screen {
    &__vibration {
      &__items-wrapper {
        border: 1px $active solid;
      }

      &__item {
        color: $active;

        &.active {
          background: $active;
          //color: $hover;
          color: #fff;
        }
      }
    }

    &__line-height {
      &__item {
        &.value {
          color: $active;
        }
      }
    }

    &__footer {
      &__btn {
        &.table-of-contents-btn,
        &.credits-btn {
          background: $active;
        }
      }
    }

    .range-slider__wrapper {
      .irs {
        .irs-line,
        .irs-bar,
        .irs-bar-edge {
          background: $active;
        }

        .irs-line {
          background: $fill;
          opacity: 0.2;
        }
      }

      &:hover,
      &.hover {
        .irs-slider {
          background: $active;
        }
      }
    }
  }
}

@mixin theme-loader($theme) {
  $bg: #fff;
  $borderTop: #f2c94c;
  $border: #f2994a;

  @if ($theme == 'dark') {
    $bg: #111;
    $borderTop: #a3a3a3;
    $border: #828282;
  } @else if ($theme == 'black') {
    $bg: #fff;
    $borderTop: #9c9c9c;
    $border: #828282;
  } @else if ($theme == 'dark-blue') {
    $bg: #fff;
    $borderTop: #9bc4d9;
    $border: #728c9a;
  }

  &.page:before {
    border-color: $border;
    border-top-color: $borderTop;
  }

  @if ($theme == 'dark') {
    &.page {
      background-color: #111 !important;

      &:before {
        background-color: #111 !important;
      }
    }
  }
}

@mixin theme-page($theme) {
  @if ($theme == 'dark') {
    .page,
    .main-content,
    .menu-full-screen,
    .table-of-contents,
    .credits {
      background-color: #111;
    }

    .text,
    .table-of-contents,
    .table-of-contents__item,
    .credits,
    .credits__item,
    .menu-full-screen,
    .side-text-scroll-content {
      color: #a3a3a3;
    }

    .side-text-scroll-content {
      background-color: rgba(#fff, 0.1);
    }

    a {
      &:hover {
        @include text-shadow-dark;
      }
    }

    .modal-content {
      &__close,
      &__full-size {
        color: #a3a3a3;
        @include text-shadow-dark;
      }
    }

    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: rgba(#a3a3a3, 0.2);
    }

    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background-color: rgba(#a3a3a3, 0.5);
    }
  }
}

//theme
@mixin theme($theme) {
  @include theme-menu($theme);
  @include theme-add-settings($theme);
  @include theme-full-screen-menu($theme);
  @include theme-loader($theme);
  @include theme-page($theme);
}