body {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video,
audio {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

.page {
  display: grid;
  grid-template-columns: auto 481px;
  grid-template-rows: auto auto;
  justify-content: center;
}

.left-side {
  //width: 962px;
  width: 870px; //1366, но не пойму откуда именно такое значение вышло
  background: url("/book_data/images/test.gif") center no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
  @include transition-fade-default;

  &.fadeOut {
    opacity: 0;
  }
}

.right-side {
  width: 481px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75);
}

.text-and-effects {

}

.effects {
  display: none;
}

$header-line-height: 1.2;
$article-line-height: 1.2;
$h1-line-height: 1.2;
$p-line-height: 1.2;

.text {
  position: relative;
  padding: 20px;
  //max-height: 800px;
  max-height: 500px;
  height: 500px;
  font-size: 100%;
  overflow: hidden;

  header {
    font-family: RobotoBold, Arial, Helvetica, sans-serif;
    font-size: 2em;//32px;
    padding-bottom: 24px;
    line-height: $header-line-height;
  }

  article {
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.875em;//14px;
    line-height: $article-line-height;
    padding-bottom: 16px;
  }

  h1 {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 1.5em;//24px;
    line-height: $h1-line-height;
    padding-bottom: 16px;
  }

  p {
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 0.875em;//14px;
    line-height: $p-line-height;
    padding-top: 16px;

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }

  a {
    &.action {
      color: #fd0006;
      opacity: 0.85;
      @include transition-default;

      &:hover {
        opacity: 1;
        text-shadow: 2px 2px 2px #fd0006;
      }
    }
  }
}

//modificators for text; font-size
.text {
  &[data-font-size="75"] {
    font-size: 75%;
  }

  &[data-font-size="100"] {
    font-size: 100%;
  }

  &[data-font-size="125"] {
    font-size: 125%;
  }

  &[data-font-size="150"] {
    font-size: 150%;
  }
}

//modificators for text; line-height
.text {
  &[data-line-height="75"] {
    header {
      line-height: $header-line-height * 0.75;
    }

    article {
      line-height: $article-line-height * 0.75;
    }

    h1 {
      line-height: $h1-line-height * 0.75;
    }

    p {
      line-height: $p-line-height * 0.75;
    }
  }

  &[data-line-height="100"] {
    header {
      line-height: $header-line-height * 1;
    }

    article {
      line-height: $article-line-height * 1;
    }

    h1 {
      line-height: $h1-line-height * 1;
    }

    p {
      line-height: $p-line-height * 1;
    }
  }

  &[data-line-height="125"] {
    header {
      line-height: $header-line-height * 1.25;
    }

    article {
      line-height: $article-line-height * 1.25;
    }

    h1 {
      line-height: $h1-line-height * 1.25;
    }

    p {
      line-height: $p-line-height * 1.25;
    }
  }

  &[data-line-height="150"] {
    header {
      line-height: $header-line-height * 1.5;
    }

    article {
      line-height: $article-line-height * 1.5;
    }

    h1 {
      line-height: $h1-line-height * 1.5;
    }

    p {
      line-height: $p-line-height * 1.5;
    }
  }
}

.table-of-contents {
  @extend .text;

  display: none;//change by script;
  position: relative;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
    cursor: pointer;
    @include hover-default;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    @include hover-default;
  }
}

//mCustom scrollbar styles
.mCS-activeBook {
  &.mCSB_scrollTools {
    opacity: 0.8;

    .mCSB_dragger {
      .mCSB_dragger_bar {
        width: 6px;
        border-radius: 100px;
        background: #f2994a;
      }
    }

    .mCSB_draggerRail{
      background-color: #fff;
    }
  }

  &.mCSB_scrollTools_vertical {
    right: -5px !important;
    margin: 10px 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  width: 100%;
  padding: 0 20px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    flex-shrink: 0;
    height: 16px;

    &:nth-child(1) {
      margin-left: 0;
    }

    .obj-img__wrapper {
      height: 100%;
      width: 100%;

      cursor: pointer;

      svg {
        path {
          fill: #000;
          @include transition-default;
        }
      }

      &:hover {
        svg {
          path {
            fill: #F2C94C;
          }
        }
      }

      &.active {
        svg {
          path {
            fill: #F2994A;
          }
        }
      }
    }

    &.font-size-up {
      margin-left: 10px;
    }

    .go-to-page-by-number {
      font-family: RobotoRegular, Arial, Helvetica, sans-serif;
      font-size: 12px;
      display: none; //change by script
      align-items: center;
      justify-content: flex-start;
      width: 130px;
      height: 23px;
      background: #F2994A;
      border-radius: 20px;

      &.active {
        display: flex;
      }

      &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 21px;
        background: #fff;
        color: #000;
        margin-left: 1px;
        border-radius: 20px;

        &.error {
          border: 1px red solid;
        }

        input {
          text-align: center;
          width: 100%;
          background: none;
          outline: none;
        }
      }

      &__button {
        color: #fff;
        padding-left: 13px;
        @include hover-default;
      }
    }

    .go-to-page-by-arrows {
      display: none; //change by script
      align-items: center;
      justify-content: flex-start;

      &.active {
        display: flex;
      }

      &__page-number {
        margin-left: 24px;

        input {
          width: 60px;
          font-family: RobotoRegular, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-align: center;
          background: transparent;

          &::-webkit-input-placeholder {
            color: #000;
          }

          &::-moz-placeholder {
            color: #000;
          }
        }
      }

      &__arrow-right {
        margin-left: 24px;
      }
    }

    &.volume {
      cursor: default;

      .range-slider__wrapper {
        margin-left: 8px;
      }

      .add-settings {
        .range-slider__wrapper {
          margin-left: 0;
        }
      }
    }

    .range-slider__wrapper {
      flex-shrink: 0;
      width: 100px;
      height: 6px;

      .irs {
        width: 100%;
        height: 100%;

        .irs-line,
        .irs-bar,
        .irs-bar-edge {
          top: 2px;
          height: 3px;
          border: none;
          background: #f2994a;
        }

        .irs-line {
          background: #c4c4c4;
        }

        .irs-bar-edge {
          width: 12px;
        }

        .irs-slider {
          top: -3px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          box-shadow: none;
          border: none;
          background: transparent;
        }
      }

      &:hover {
        .irs-line,
        .irs-bar,
        .irs-bar-edge {
          height: 6px;
          top: 0;
        }

        .irs-slider {
          background: #f2994a;
        }
      }
    }

    &.bookmark {
      .add-settings {
        &__item {
          position: relative;
          max-height: 100px;
        }
      }
    }
  }
}


.add-settings {
  $border-radius: 8px;

  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  min-height: 70px;
  border-radius: $border-radius;
  background: #f8f8f8;
  box-shadow: 0 4px 4px rgba(#000, 0.25);
  padding-bottom: 8px;
  z-index: 1;
  cursor: default;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__bottom {
    $left: 14px;

    position: absolute;
    bottom: -16px;
    left: $left;
    width: auto;
    border-bottom-right-radius: 22px; //todo: костыль, убрать когда будет нормальная svg-шка

    &.revert {
      left: auto;
      right: $left;
      transform: scaleX(-1);
    }
  }

  &__item {
    $item: &;

    width: 100%;
    padding: 0 16px 8px 16px;

    &:nth-child(1) {
      padding-top: 8px;
    }

    &:nth-last-of-type(1) {
      padding-bottom: 0 !important;
    }

    &__label {
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-transform: uppercase;
      padding-bottom: 3px;
    }

    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      margin-top: 4px;
      border-radius: $border-radius;
      border: 1px #F2994A solid;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: inherit;
        flex-shrink: 0;
        font-family: RobotoLight, Arial, Helvetica, sans-serif;
        font-size: 9px;
        text-transform: capitalize;
        color: #F2994A;
        background: transparent;
        cursor: pointer;
        @include hover-default;

        &:nth-child(1) {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }

        &.active {
          background: #F2994A;
          color: #fff;
        }
      }
    }

    &__numeric {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__item {
        font-family: RobotoRegular, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #000;
        margin-right: 8px;
        cursor: pointer;
        @include hover-default;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        input,
        &.val {
          font-family: RobotoLight, Arial, Helvetica, sans-serif;
          color: #F2994A;
          width: 21px;
          cursor: auto;

          &::-webkit-input-placeholder {
            color: #F2994A;
          }

          &::-moz-placeholder {
            color: #F2994A;
          }
        }

        &.val {
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &.theme-options {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;

      #{$item}__theme-option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-left: 6px;
        cursor: pointer;
        @include hover-default;

        &:nth-child(1) {
          margin-left: 0;
        }

        &[data-theme="default"] {
          border: 1px #F2994A solid;
          background: #fff;
        }

        &[data-theme="gray"] {
          background: #828282;
        }

        &[data-theme="yellow"] {
          background: #FDF5DE;
        }

        &[data-theme="dark-blue"] {
          background: #728C9A;
        }

        i.fa {
          display: none;
        }

        &.active {
          i.fa {
            display: block;
          }
        }
      }
    }

    &.header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F2994A;
      height: 31px;
      padding: 0;
      margin-bottom: 8px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      cursor: pointer;
      @include hover-default;

      #{$item}__label {
        color: #fff;
      }
    }

    &.padding-large {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-large {
      padding-left: 8px;
      padding-right: 8px;
    }

    .bookmarks-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: RobotoLight, Arial, Helvetica, sans-serif;
        font-size: 11px;
        width: 100%;
        height: 30px;
        border-bottom: 1px #EAEAEA solid;
        flex-shrink: 0;
        cursor: pointer;
        @include hover-default;

        > div {
          flex-shrink: 0;
        }

        &__remove {
          width: 25px;
          text-align: right;
          @include transition-default;

          &:hover {
            color: #a30101;
          }
        }
      }
    }
  }
}

.menu__item.etc .add-settings {
  padding-bottom: 16px;

  &__item {
    $item: &;

    padding: 0 8px 8px 8px;

    &:nth-child(1) {
      padding-top: 8px;
    }

    &.table-of-contents {
      padding: 0;
      margin-bottom: 8px;
    }

    &.theme-options {
      padding-bottom: 12px;
    }

    &.padding-large {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-large {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.menu__item.bookmark .add-settings {
  max-height: 147px;
}

.obj-img__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .obj-img__helper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
}

.uppercase {
  text-transform: uppercase;
}

//page modificators themes
.page {
  &[data-theme="default"] {
    @include theme('default');
  }

  &[data-theme="gray"] {
    @include theme('gray');
  }

  &[data-theme="yellow"] {
    @include theme('yellow');
  }

  &[data-theme="dark-blue"] {
    @include theme('dark-blue');
  }
}

.warning {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.template {
  display: none !important;
}