:root {
  --scrollbar-width: 0px;
  --text-shadow-color: red;
  --text-shadow-animation: blink;
  --text-shadow-animation-speed: 1000ms;
  --main-content-height: 0px;
  --side-scroll-text-animation-speed: 60000ms;
  --animate-css-duration: 150ms;
  --modal-content-object-fit: contain;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  user-select: none;

  &.initing {
    opacity: 0;
  }
}

body.loading {
  pointer-events: none;

  .page {
    > * {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #f0f0f0;
      border: 16px solid #f2994a;
      border-top: 16px solid #f2c94c;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;

      @media screen and (max-width: 500px) {
        background-color: #fff;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .text-wrapper {
    overflow: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

img,
video,
audio {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
}

/*
убираем стрелки у input number
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
  box-shadow: none;
}

//scrollbar webkit
/*::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 40px;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  border-radius: 40px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}*/

.scroll-wrapper.touching .scroll-element .scroll-bar,
.scroll-content.touching ~ .scroll-element .scroll-bar {
  opacity: 0.7 !important;
}

.scroll-wrapper.touched .scroll-element .scroll-bar,
.scroll-content.touched ~ .scroll-element .scroll-bar {
  opacity: 0 !important;
}

.notifyjs-corner {
  bottom: 0 !important;
  left: 50% !important;
  transform: translate(-50%, -110%);
  max-width: 500px;
}

.notifyjs-bootstrap-base {
  white-space: normal !important;
}

.animated {
  animation-duration: var(--animate-css-duration);
}

.page {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: #f0f0f0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;

  @media screen and (max-width: 500px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.video-wrapper {
  position: relative;
}

.video-player {
  position: absolute;
  width: 100%;
  height: inherit;
  font-size: 36px;
  z-index: 1;

  &__controls {
    position: absolute;
    z-index: 2;
    bottom: 48px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 42px;
    width: 100%;

    &.active {
      display: flex;
    }

    &__top,
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;
      width: 100%;
      flex-shrink: 0;
    }

    &__bottom {
      padding: 0 12px;
    }
  }

  &__volume,
  &__length {
    display: none;
  }

  &__play-pause {
    .fa-pause,
    .fa-play {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .video-player-icon {
    @include modal-content-icon;
  }
}

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  //max-width: 500px;
  max-width: 460px;
  height: 100%;
  max-height: 500px;
  z-index: 999;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);

  &.active {
    display: block;
  }

  &.full-screen {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  &__inner {
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
    overflow: hidden;

    img,
    video {
      width: inherit;
      max-width: inherit;
      height: inherit;
      max-height: inherit;
      object-fit: var(--modal-content-object-fit);
      object-position: 50% 50%;
    }

    .video-wrapper,
    .section-wrapper,
    .img-wrapper {
      display: none;
      width: inherit;
      max-width: inherit;
      height: inherit;
      max-height: inherit;

      &.active {
        display: block;
      }
    }

    .gallery-wrapper,
    .gallery,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
      height: inherit;
      max-height: inherit;
    }

    .gallery-wrapper {
      position: relative;
      display: none;

      &.active {
        display: block;
      }

      img {
        display: block;
      }

      .gallery-forward,
      .gallery-backward {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 100px;
        font-size: 92px;
        @include modal-content-icon;
        @include text-shadow-default;
      }

      .gallery-forward {
        right: 15px;
      }

      .gallery-backward {
        left: 15px;
      }
    }

    .img-wrapper,
    .video-wrapper,
    .gallery-wrapper {
      background: #111;
      color: #fff;
    }

    .section-wrapper,
    .section-scroll {
      background: #fff;
      color: #111;
    }

    .slick-list {
      display: block;
    }

    .section-scroll {
      width: inherit;
      max-width: inherit;
      height: inherit;
      max-height: inherit;
      -webkit-overflow-scrolling: touch;
    }

    .section-wrapper {
      padding: 0 30px;

      section {
        padding: 20px 0;
      }
    }
  }

  &__close,
  &__full-screen,
  &__object-fit {
    position: absolute;
    z-index: 10;
    font-size: 42px;
    @include modal-content-icon;
    @include text-shadow-default;
  }

  &__close {
    top: 5px;
    right: 8px;
  }

  &__full-screen {
    display: none;
    bottom: 5px;
    right: 8px;

    &.active {
      display: block;
    }

    .fa-expand,
    .fa-compress {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__object-fit {
    display: none;

    top: 5px;
    left: 8px;

    &.active {
      display: block;
    }
  }
}

.menu-full-screen {
  display: none; //change by script
  position: fixed;
  z-index: 15;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: calc(100% - 15px); //15 = margin-top + margin-bottom
  margin-top: 5px;
  margin-bottom: 10px;
  background: #fff;

  @media screen and (max-width: 500px) {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__scroll {
    height: inherit;
    -webkit-overflow-scrolling: touch;
  }

  &__inner {
    transform: translateZ(0);
    padding: 40px 20px;
  }

  &.active {
    display: block;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include hover-default;
  }

  &__title {
    font-family: RobotoBold, Arial, Helvetica, sans-serif;
    font-size: 42px;
  }

  &__label {
    font-family: RobotoLight, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__volume {
    margin-top: 31px;

    &__item {
      margin-top: 17px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }

  &__themes {
    margin-top: 24px;
    padding: 20px 0;
    border-top: 1px #EAEAEA solid;
    border-bottom: 1px #EAEAEA solid;

    &__items-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 7px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
      @include hover-default;

      &:nth-child(1) {
        margin-left: 0;
      }

      &[data-theme="default"] {
        border: 1px #F2994A solid;
        background: #fff;
      }

      &[data-theme="dark"] {
        background: #828282;
      }

      &[data-theme="black"] {
        border: 1px #111 solid;
        background: #fff;
      }

      &[data-theme="dark-blue"] {
        background: #728C9A;
      }

      i.fa {
        display: none;
      }

      &.active {
        i.fa {
          display: block;
        }
      }
    }
  }

  &__vibration {
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px #EAEAEA solid;
    $border-radius: 16px;

    &__items-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 31px;
      margin-top: 11px;
      border-radius: $border-radius;
      border: 1px #F2994A solid;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: inherit;
      flex-shrink: 0;
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-transform: capitalize;
      color: #F2994A;
      background: transparent;
      cursor: pointer;
      @include hover-default;

      &:nth-child(1) {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:nth-child(2) {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.active {
        background: #F2994A;
        color: #fff;
      }
    }
  }

  &__line-height {
    margin-top: 20px;
    padding: 20px 0;
    border-bottom: 1px #EAEAEA solid;

    &__items-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 11px;
    }

    &__item {
      margin-left: 8px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &.minus,
      &.plus {
        font-family: RobotoBold, Arial, Helvetica, sans-serif;
        font-size: 22px;
        cursor: pointer;
        @include hover-default
      }

      &.value {
        font-family: RobotoLight, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #F2994A;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
    margin-bottom: 26px;

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 45px;
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #fff;
      border-radius: 25px;
      margin-top: 13px;
      cursor: pointer;
      @include hover-default;

      &:nth-child(1) {
        margin-top: 0;
      }

      &.table-of-contents-btn,
      &.credits-btn {
        background: #F2994A;
      }

      &.close {
        background: #828282;
      }
    }
  }

  .range-slider__wrapper {
    width: 150px;
    height: 12px;

    .irs {
      .irs-line,
      .irs-bar,
      .irs-bar-edge {
        top: 6px;
        height: 6px;
      }

      .irs-slider {
        top: -1px;
        height: 18px;
        width: 18px;
      }
    }
  }
}

.main-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
  min-height: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;

  @media screen and (max-width: 500px) {
    box-shadow: none;
  }
}

.effects {
  display: none;
}

$header-line-height: 1.2;
$article-line-height: 1.2;
$h1-line-height: 1.2;
$p-line-height: 1.2;

header {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  font-size: 2em; //32px;
  padding-bottom: 24px;
  line-height: $header-line-height;
}

article {
  font-family: RobotoLight, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 0.875em; //14px;
  line-height: $article-line-height;
  padding-bottom: 16px;
}

h1 {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 1.5em; //24px;
  line-height: $h1-line-height;
  padding-bottom: 16px;
}

p {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  font-size: 0.875em; //14px;
  line-height: $p-line-height;
  padding-top: 16px;

  &:nth-of-type(1) {
    padding-top: 0;
  }
}

.text-scroll {
  width: 100%;
  height: calc(100% - 68px); //height of menu + margin-bottom
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}

.text-wrapper {
  width: 100%;
  height: inherit;
}

.side-effects-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-shadow {
  display: none;
  width: 100%;
  height: calc(100% + 60px); //100% + box-shadow width * 2
  margin-top: -30px; //box-shadow width
  box-shadow: inset 0 0 30px var(--text-shadow-color);
  animation: var(--text-shadow-animation) var(--text-shadow-animation-speed) ease infinite;
  will-change: opacity;

  &.active {
    display: block;
  }


  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes static {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

.side-text-scroll-wrapper {
  display: none;

  &.active {
    display: block;
  }
}

.side-text-scroll-left-wrapper {
  transform: rotate(-90deg) translateX(-2px);
  transform-origin: left;
}

.side-text-scroll-left {
  $defaultState: translateX(0);

  position: absolute;
  left: 0;
  top: 0;
  transform: $defaultState;
  animation: scroll-text-left var(--side-scroll-text-animation-speed) linear infinite;
  will-change: transform;

  @keyframes scroll-text-left {
    0% {
      transform: $defaultState;
    }

    100% {
      transform: translateX(calc(-100% - var(--main-content-height)));
    }
  }
}

.side-text-scroll-right-wrapper {
  transform: rotate(90deg) translateY(-2px);
  transform-origin: right;
}

.side-text-scroll-right {
  $defaultState: translateX(calc(100% + var(--main-content-height)));

  position: absolute;
  right: 0;
  top: 0;
  transform: $defaultState;
  animation: scroll-text-right var(--side-scroll-text-animation-speed) linear infinite;
  will-change: transform;

  @keyframes scroll-text-right {
    0% {
      transform: $defaultState;
    }

    100% {
      transform: translateX(0);
    }
  }
}

.side-text-scroll-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  font-size: 12px;
  text-transform: lowercase;
  background: rgba(#111, 0.1);
  height: 16px;
  line-height: 1;
  padding-left: 5px; //width of &nbsp;

  .warning {
    color: #f2c94c;
  }

  .error {
    color: #fd0006;
  }

  .ok {
    color: #00CC33;
  }
}

a {
  opacity: 0.85;
  transition: text-shadow ease 0.3s 0s;

  &:hover {
    @include text-shadow-default;
  }

  &.action {
    color: #fd0006;
  }

  &.external-link {
    color: #0099FF;
  }
}

.text {
  position: relative;
  padding: 20px;
  //padding-right: calc(20px - var(--scrollbar-width));
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: #000;

  &.hide {
    display: none; //change by script;
  }

  .go-to-page {
    width: 100%;
    font-family: RobotoBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }
}

//modificators for text; font-size
.text,
.modal-content section {
  [data-font-size="75"] & {
    font-size: 75%;
  }

  [data-font-size="100"] & {
    font-size: 100%;
  }

  [data-font-size="125"] & {
    font-size: 125%;
  }

  [data-font-size="150"] & {
    font-size: 150%;
  }
}

//modificators for text; line-height
.text,
.modal-content section {
  [data-line-height="75"] & {
    header {
      line-height: $header-line-height * 0.75;
    }

    article {
      line-height: $article-line-height * 0.75;
    }

    h1 {
      line-height: $h1-line-height * 0.75;
    }

    p {
      line-height: $p-line-height * 0.75;
    }
  }

  [data-line-height="100"] & {
    header {
      line-height: $header-line-height * 1;
    }

    article {
      line-height: $article-line-height * 1;
    }

    h1 {
      line-height: $h1-line-height * 1;
    }

    p {
      line-height: $p-line-height * 1;
    }
  }

  [data-line-height="125"] & {
    header {
      line-height: $header-line-height * 1.25;
    }

    article {
      line-height: $article-line-height * 1.25;
    }

    h1 {
      line-height: $h1-line-height * 1.25;
    }

    p {
      line-height: $p-line-height * 1.25;
    }
  }

  [data-line-height="150"] & {
    header {
      line-height: $header-line-height * 1.5;
    }

    article {
      line-height: $article-line-height * 1.5;
    }

    h1 {
      line-height: $h1-line-height * 1.5;
    }

    p {
      line-height: $p-line-height * 1.5;
    }
  }
}

.table-of-contents,
.credits {
  display: none; //change by script
  position: fixed;
  z-index: 15;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: calc(100% - 15px); //15 = margin-top + margin-bottom
  margin-top: 5px;
  margin-bottom: 10px;
  background: #fff;

  @media screen and (max-width: 500px) {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.active {
    display: block;
  }

  &__scroll {
    height: inherit;
    -webkit-overflow-scrolling: touch;
  }

  &__inner {
    transform: translateZ(0);
    padding: 40px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: RobotoRegular, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
    cursor: pointer;
    @include hover-default;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    @include hover-default;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 77px;
    margin-bottom: 26px;

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 45px;
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #fff;
      border-radius: 25px;
      cursor: pointer;
      @include hover-default;

      &.close {
        margin-top: 13px;
        background: #828282;
      }
    }
  }
}

.credits {
  &__item {
    align-items: flex-start;
    line-height: 1.2;
    cursor: default;
    @include hover-disable;

    &__label,
    &__value {
      width: 45%;
    }
  }
}

.menu-wrapper {
  padding: 0 20px;
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  width: 100%;
  max-width: 500px;
  background: #fff;
  z-index: 10;
  flex-shrink: 0;

  &.hide {
    display: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;
    height: 24px;

    &:nth-child(1) {
      margin-left: 0;
    }

    .obj-img__wrapper {
      height: 100%;
      width: 100%;
      cursor: pointer;

      svg {
        fill: #000;
        @include transition-default;
      }

      &:hover,
      &.hover {
        svg {
          fill: #F2C94C;
        }
      }

      &.active {
        svg {
          fill: #F2994A;
        }
      }
    }

    &.font-size-up {
      margin-left: 10px;
    }

    .go-to-page-by-number {
      display: none; //change by script
      align-items: center;
      justify-content: flex-start;
      font-family: RobotoRegular, Arial, Helvetica, sans-serif;
      font-size: 15px;
      width: 140px;
      height: 23px;
      background: #F2994A;
      border-radius: 20px;

      &.active {
        display: flex;
      }

      &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 21px;
        background: #fff;
        color: #000;
        margin-left: 1px;
        border-radius: 20px;

        &.error {
          border: 1px red solid;
        }

        input {
          text-align: center;
          width: 100%;
          background: none;
          outline: none;
          color: inherit;
          line-height: normal;
        }
      }

      &__button {
        color: #fff;
        padding-left: 13px;
        @include hover-default;
      }
    }

    .go-to-page-by-arrows {
      display: none; //change by script
      align-items: center;
      justify-content: flex-start;

      &.active {
        display: flex;
      }

      &__page-number {
        margin-left: auto;
        padding: 0 12px;

        input {
          width: 60px;
          font-family: RobotoRegular, Arial, Helvetica, sans-serif;
          font-size: 15px;
          text-align: center;
          background: transparent;

          &::-webkit-input-placeholder {
            color: #000;
          }

          &::-moz-placeholder {
            color: #000;
          }
        }
      }

      &__arrow-right {
        margin-left: auto;
      }
    }

    &.volume {
      cursor: default;

      .range-slider__wrapper {
        margin-left: 8px;
      }

      .add-settings {
        .range-slider__wrapper {
          margin-left: 0;
        }
      }
    }

    &.bookmark {
      .add-settings {
        &__item {
          position: relative;
          max-height: 76px;
        }
      }
    }
  }
}

.range-slider__wrapper {
  flex-shrink: 0;
  width: 100px;
  height: 6px;

  .irs {
    width: 100%;
    height: 100%;

    .irs-line,
    .irs-bar,
    .irs-bar-edge {
      top: 2px;
      height: 3px;
      border: none;
      background: #f2994a;
    }

    .irs-line {
      background: #c4c4c4;
    }

    .irs-bar-edge {
      width: 12px;
    }

    .irs-slider {
      top: -3px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      box-shadow: none;
      border: none;
      background: transparent;
    }
  }

  &:hover,
  &.hover {
    .irs-line,
    .irs-bar,
    .irs-bar-edge {
      height: 6px;
      top: 0;
    }

    .irs-slider {
      background: #f2994a;
    }
  }
}

.add-settings {
  $border-radius: 8px;

  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 70px;
  border-radius: $border-radius;
  background: #f8f8f8;
  box-shadow: 0 4px 4px rgba(#000, 0.25);
  padding-bottom: 8px;
  z-index: 1;
  cursor: default;
  transition: opacity 0.3s 0s ease;
  will-change: opacity;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__bottom {
    $left: 13px;

    position: absolute;
    bottom: -16px;
    left: $left;
    width: auto;
    transform: scaleX(-1);

    &.revert {
      left: auto;
      right: $left;
      transform: scaleX(1);
    }
  }

  &__item {
    $item: &;

    width: 100%;
    padding: 0 16px 8px 16px;

    &:nth-child(1) {
      padding-top: 8px;
    }

    &:nth-last-of-type(1) {
      padding-bottom: 0 !important;
    }

    &__label {
      font-family: RobotoLight, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      margin-top: 4px;
      border-radius: $border-radius;
      border: 1px #F2994A solid;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: inherit;
        flex-shrink: 0;
        font-family: RobotoLight, Arial, Helvetica, sans-serif;
        font-size: 9px;
        text-transform: capitalize;
        color: #F2994A;
        background: transparent;
        cursor: pointer;
        @include hover-default;

        &:nth-child(1) {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:nth-child(2) {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }

        &.active {
          background: #F2994A;
          color: #fff;
        }
      }
    }

    &__numeric {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__item {
        font-family: RobotoRegular, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #000;
        margin-right: 8px;
        cursor: pointer;
        @include hover-default;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        input,
        &.val {
          font-family: RobotoLight, Arial, Helvetica, sans-serif;
          color: #F2994A;
          width: 21px;
          cursor: auto;

          &::-webkit-input-placeholder {
            color: #F2994A;
          }

          &::-moz-placeholder {
            color: #F2994A;
          }
        }

        &.val {
          &.hover,
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &.theme-options {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;

      #{$item}__theme-option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-left: 6px;
        cursor: pointer;
        @include hover-default;

        &:nth-child(1) {
          margin-left: 0;
        }

        &[data-theme="default"] {
          border: 1px #F2994A solid;
          background: #fff;
        }

        &[data-theme="dark"] {
          background: #828282;
        }

        &[data-theme="black"] {
          background: #FDF5DE;
        }

        &[data-theme="dark-blue"] {
          background: #728C9A;
        }

        i.fa {
          display: none;
        }

        &.active {
          i.fa {
            display: block;
          }
        }
      }
    }

    &.header-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F2994A;
      height: 35px;
      padding: 0;
      margin-bottom: 8px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      cursor: pointer;
      @include hover-default;

      #{$item}__label {
        color: #fff;
      }
    }

    &.padding-large {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-large {
      padding-left: 8px;
      padding-right: 8px;
    }

    .bookmarks-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: RobotoLight, Arial, Helvetica, sans-serif;
        font-size: 14px;
        width: 100%;
        height: 30px;
        border-bottom: 1px #EAEAEA solid;
        flex-shrink: 0;
        cursor: pointer;
        @include hover-default;

        > div {
          flex-shrink: 0;
        }

        &__remove {
          width: 25px;
          text-align: right;
          @include transition-default;

          &.hover,
          &:hover {
            color: #a30101;
          }
        }
      }
    }
  }
}

.menu__item.etc .add-settings {
  padding-bottom: 16px;

  &__item {
    $item: &;

    padding: 0 8px 8px 8px;

    &:nth-child(1) {
      padding-top: 8px;
    }

    &.table-of-contents {
      padding: 0;
      margin-bottom: 8px;
    }

    &.theme-options {
      padding-bottom: 12px;
    }

    &.padding-large {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-large {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.menu__item.bookmark .add-settings {
  max-height: 147px;

  .add-settings__item__scroll {
    max-height: inherit;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.obj-img__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .obj-img__helper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
}

.uppercase {
  text-transform: uppercase;
}

//page modificators themes
.page {
  &[data-theme="default"] {
    @include theme('default');
  }

  &[data-theme="dark"] {
    @include theme('dark');
  }

  &[data-theme="black"] {
    @include theme('black');
  }

  &[data-theme="dark-blue"] {
    @include theme('dark-blue');
  }
}

.browser-warning {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.template,
.templates,
.for-modal-content {
  display: none !important;
}