<div class="text">
  <section>
    <p>
      У Егора вся жизнь пронеслась перед глазами. Но особенно ярко он видел её.
    </p>
    <p>
      То прекрасное лицо, те чудесные глаза. Милый сердцу голос далёким эхом коснулся ушей.
    </p>
    <p>
      И он понял, что не готов сейчас умереть.
    </p>
    <p>
      <a href="https://youtu.be/kohsgr4kLdM?t=32" target="_blank" class="easter-egg">
        В голове зазвучала эпичная музыка
      </a>
    </p>
    <p>
      И, спрыгнув, он пнул гранату как заправской рэмбо.
    </p>
  </section>
</div>
