<div class="text">
  <section>
    <p>
      И они вышли к грузовым поездам. Рабочие трудились в поте лица, заполняя вагоны доверху всяким добром.
    </p>
    <p>
      — Иди к вагону, я их отвлеку. Залезешь внутрь и сиди тихо, — проинструктировал рыжий и удалился.
    </p>
  </section>
</div>
