<div class="text">
    <section>
        <p>
            Вдруг у Кирилла завибрировал наладонник.
        </p>
        <p>
            Отчего лицо его хозяина стало очень серьёзным.
        </p>
        <p>
            — Объявляется экстренное собрание. Я не могу его пропустить. Наверное, это из-за твоего побега.
        </p>
        <p>
            Он убрал устройство в карман.
        </p>
        <p>
            — Следующий челнок отправляется через час, я могу не успеть. Поэтому давай я тебе отмечу на карте куда нужно
            идти.
        </p>
        <p>
            Егор протянул свой наладонник другу.
        </p>
        <p>
            Кирилл тыкнул в карту пальцем и поставил отметку.
        </p>
        <p>
            — Это на третьем этаже комплекса. В дальнем углу будет лифт, который сможет тебя доставить на нужный этаж.
            Проблем быть не должно. Есть лишь одна трудность — тебе нужно будет пройти через весь этаж, челноки стоят в
            противоположной стороне, — Кирилл махнул рукой.
        </p>
        <p>
            — Понял. А куда я прилечу-то в итоге? — спросил Егор.
        </p>
        <p>
            — В закрытый город Красногорск-17. Оттуда на поезде минут 40, и ты дома. Направление только одно, так что не
            перепутаешь.
        </p>
        <p>
            Кирилл взглянул на часы.
        </p>
        <p>
            — Мне пора. Удачи! — и он обнял друга.
        </p>
        <p>
            Они вышли из туалета и пошли в разные стороны.
        </p>
        <p>
            — Я пойму, что всё хорошо, если не будет тревоги. Лучше не пиши мне — сообщение могут перехватить, тогда нам
            обоим не поздоровится, — сказал Кирилл и скрылся в коридоре.
        </p>
    </section>
</div>
