<div class="text">
    <section>
        <p>
            Ракета готовилась к пуску, «двигатель прогрелся».
        </p>
        <p>
            В голове прозвучал Гагарин и его знаменитое «поехали».
        </p>
        <p>
            Ракета сорвалась с места и стала стремительно набирать скорость, оставляя после себя
            длинный белый шлейф и выжженную землю.
        </p>
        <p>
            Чувство тревоги отступило. Волноваться уже было поздно.
        </p>
        <p>
            Егора вдавливало в кресло с неимоверной силой.
        </p>
        <p>
            «Интересно, она смотрит?»
        </p>
        <p>
            Скорость всё нарастала, система готовилась к телепортации. Некоторые ошибочно называли
            это «прыжок в гиперпространство».
        </p>
    </section>
</div>