<div class="text">
  <section>
    <p>
      И снова снился тот же сон с отцом.
    </p>
    <p>
      И снова дождь хлестал по крыше.
    </p>
    <p>
      Но в этот раз он никого не бил и не стрелял.
    </p>
    <p>
      Укрывшись вместе в доме от дождя, Егор с отцом и матерью устроили семейный ужин.
    </p>
    <p>
      По телевизору показывали какую-то передачу о достижениях страны и мира, а на столе дымились явства.
    </p>
    <p>
      Портрет вождя висел на стене.
    </p>
  </section>
</div>
