<div class="text">
    <section>
        <p>
            <b>[звуки приближающихся шагов, звук закрывания щеколды]</b>
        </p>
        <p>
            — Дружище, это я, — послышался знакомый голос.
        </p>
        <p>
            Егор вышел из кабинки:
        </p>
        <p>
            — Слава богу! Я вижу, ты достал всё необходимое, — Егор кивнул на мешок в руках Кирилла.
        </p>
        <p>
            — Да, всё обошлось без эксцессов. Тут и форма, и вещи, которые у тебя изъяли. Одежду я на глаз подбирал,
            надеюсь, что угадал с размером, — с этими словами Кирилл протянул Егору мешок.
        </p>
    </section>
</div>
