<div class="text">
  <section>
    <p>
      Но будто этого было мало — руки страшного человека стали покрываться синими пятнами. Они вбирали в себя энергию,
      увеличиваясь в размерах и с силой били Егора током.
    </p>
    <p>
      Затем человек потащил стонающего мальчика на улицу. Холодный поток воды полетел в лицо.
    </p>
    <p>
      Егор звал на помощь родителей, друзей, хоть кого-нибудь, но никто его не слышал..
    </p>
  </section>
</div>
