<div class="text">
    <section>
        <p>
            Сообщение закончилось.
        </p>
        <p>
            Буквально через несколько секунд свет вырубился. Включился тусклый аварийный.
        </p>
        <p>
            Егор обратил внимание на динамик на потолке, который он раньше не видел.
        </p>
        <p>
            «Поле иллюзий? Теперь всё встало на свои места», — подумал он и поспешил к двери.
        </p>
        <p>
            Как он и ожидал — за дверью появились пол и стены.
        </p>
        <p>
            Взгляд упёрся в рядом стоящие двери — его камера была здесь не единственной.
        </p>
        <p>
            С противоположной стороны сидел одинокий охранник под камерой наблюдения.
        </p>
        <p>
            Рядом виднелась панель отключения поля со сканером отпечатки ладони.
        </p>
        <p>
            Окон по-прежнему не было.
        </p>
        <p>
            Память подсказывала герою, что камеры реагируют на неизвестные лица.
        </p>
        <p>
            А ещё у них есть слепые зоны.
        </p>
        <p>
            Сняв с себя ботинок, Егор размахнулся и кинул его в охранника.
        </p>
    </section>
</div>
