<div class="text">
    <section>
       <p>
           Постепенно разум стал проясняться. Сердце тоже сбавило свой темп.
       </p>
        <p>
            Собравшись с мыслями, космонавт дал команду «полный вперёд».
        </p>
        <p>
            Долгие часы ничего не менялось.
        </p>
        <p>
            Предположив, что если по показаниям приборов, по эту сторону изгороди, всё точно так же,
            за исключением цвета, то может и координаты известных объектов такие же.
        </p>
        <p>
            Идея использовать телепортацию была заманчивой. А что если это не так?
            И только сейчас всё точно так же, а потом будут различия?
        </p>
        <p>
            Егор снова взял в руки монетку. Но решение он принял раньше, чем успел её подбросить.
        </p>
        <p>
            Самым безопасным в данной ситуации было воспользоваться автопилотом и снова уснуть.
        </p>
    </section>
</div>