<div class="text">
    <section>
        <p>
            Мария тем временем была на четвёртой стадии принятия — депрессии.
        </p>
        <p>
            Все гаджеты были выключены, свет тоже.
        </p>
        <p>
            Полнейшая тишина и темнота были её единственными гостями.
        </p>
        <p>
            В меню была апатия, бесполезное лежание на кровати и бесцельно блуждающий взгляд.
        </p>
        <p>
            Мария заказала всё и с добавкой.
        </p>
        <p>
            Повернув голову, она смотрела в окно. Ветер качал верхушки деревьев, листья танцевали свой танец.
        </p>
        <p>
            Сердце билось ровно, лишь в животе как будто прошлись газонокосилкой.
        </p>
        <p>
            Надежда на то, что он ещё жив никак не хотела умирать.
        </p>
    </section>
</div>