<div class="text">
  <section>
    <p class="todo">
      [звуки хлюпанья по лужам и падающих капель о бетон (как в Deus Ex 1), луп]
    </p>
    <p>
      Они свернули в какую-то канализационную трубу. Стоял страшный смрад, но раз Виктория молча терпела, то и он не
      стал причитать.
    </p>
    <p>
      Лужи под ногами совсем не делали картину лучше. Уже изрядно износившиеся ботинки плохо сопротивлялись воде, ноги
      были уже мокрые.
    </p>
    <p>
      Свернув в ещё один поворот — стало совсем темно.
    </p>
  </section>
</div>
