<div class="text">
    <section>
        <p>
            Наконец, спустя какое-то время, показался конец коридора.
        </p>
        <p>
            Он выглядел просто как очередная белая дверь без особых признаков.
        </p>
        <p>
            Рядом стоял считыватель карт.
        </p>
        <p>
            Здесь и пригодилась карточка доступа.
        </p>
        <p>
            Индикатор загорелся зелёным — хороший знак.
        </p>
    </section>
</div>
