<div class="text">
    <section>
        [звук трения спины о стену]

        <p>
            Космонавт сел на пол, опёршись спиной о стену и стал думать.
        </p>
        <p>
            Возможно, кто-то из охранников написал где-то код для самого себя, чтобы не забыть.
        </p>
        <p>
            Но от осознания того сколько придётся обойти комнат — заболела голова.
        </p>
        <p>
            Их было несколько десятков точно, если не сказать больше.
        </p>
        <p>
            Делать было нечего..
        </p>
    </section>
</div>
