<div class="text">
  <section>
    <p>
      Девушка включила фонарик. Свет отражался в глазах снующих туда-сюда крыс всех мастей и пород. Людей они не
      боялись, лишь хищно смотрели им в след и что-то пищали друг другу.
    </p>
  </section>
</div>
