<div class="text">
    <section>
        <p>
            [трек эпохи классической музыки останавливается]
            [звуки дождя]

            Она даже сделала потише, чтобы послушать песню осени.
            Сегодня он продлится пару часов. Хотелось бы больше, но и это не мало.

            Тем временем, текстовая трансляция твердила о том, что корабль совершил
            успешную телепортацию уже относительно недалеко от планеты.
            По крайней мере командный центр уже мог общаться с кораблём.
            Любопытной деталью стал тот факт, что обшивка этого быстро приближающегося объекта
            была другого цвета. Вернее сказать, инвертированного.

            Марии было всё равно. Лишь бы Егор прилетел. И пусть он будет хоть какого цвета.
        </p>
    </section>
</div>