<div class="text">
    <section>
        <h1>Глава 9.</h1>
        <h2>Кусочек родной планеты.</h2>
        <p>
            Внезапно пришло сообщение от Кирилла. В котором он сообщил, что очень ждёт своего друга.
        </p>
        <p>
            «Интересно», — задумался Егор, — «это сообщение от.. чёрного Кирилла?..
        </p>
        <p>
            Звучит неполиткорректно. От инвертированного Кирилла?
        </p>
        <p>
            Хотя какая разница? У меня нет предрассудков по поводу цвета кожи. Да я вообще все цвета люблю!»
        </p>
        <p>
            Зато это был знак того, что «заглянувший» уже близко.
        </p>
        <p>
            В зависимости от количества препятствий по пути оставалось в лучшем случае неделя, в худшем две, но точно
            меньше месяца.
        </p>
        <p>
            Это мысль одновременно и радовала, и пугала. Увидеть инвертных людей.
            Егор явно не был морально к этому готов.
        </p>
        <p>
            Поэтому он решил пока повременить с капсулой сна.
        </p>
        <p>
            На корабле было, чем себя занять.
        </p>
        <p>
            Конечно это был не какой-нибудь там лунный крейсер, но тем не менее.
        </p>
    </section>
</div>