<div class="text">
  <section>
    <p>
      Наконец дверь поддалась.
    </p>
    <p>
      Солнечный свет заполонил вагон изнутри.
    </p>
    <p>
      Первым вошёл человек в строгом костюме, указал на угол, где сидел Егор и приказал:
    </p>
    <p>
      – Схватить его!
    </p>
    <p>
      Дюжина бравых молодцев тут же разворотили пол-вагона и обездвижили офигевшего Егора, уткнув мордой в пол.
    </p>
  </section>
</div>
