<div class="text">
    <section>
        <p>
            <b>[щтыщ от нажатия на кнопку]</b>
        </p>
        <p>
            Егор подошёл к лифту и нажал на кнопку. Внутри лифта были классические кнопки выбора этажей.
        </p>
        <p>
            Космонавт тыкнул в цифру 4.
        </p>
    </section>
</div>
