<div class="text">
    <section>
        <p>
            Космонавт лёг на спину и закрыл глаза руками, глубоко дыша.
        </p>
        <p>
            Нужно было привести мысли в порядок.
        </p>
        <p>
            Вскоре старая проверенная техника сработала и голова стала ясной.
        </p>
        <p>
            Нужно было придумать как отсюда выбраться.
        </p>
        <p>
            Егор стал смотреть по сторонам, но на этот раз внимательнее.
        </p>
        <p>
            К сожалению, глаз ни за что не цеплялся.
        </p>
        <p>
            Тогда он подошёл к двери и попробовал открыть её.
        </p>
    </section>
</div>
