<div class="text">
    <section>
        [звуки набирания кода, (36 пиков) и открывания двери]

        <h1>
            Глава 12.
        </h1>
        <h2>
            Старый друг.
        </h2>
        <p>
            Уже собравшись встать, Егор вдруг услышал, что кто-то набирает код с другой стороны.
        </p>
        <p>
            Испугавшись, он встал так, чтобы когда дверь открылась — он был бы за ней.
        </p>
        <p>
            Классика.
        </p>
        <p>
            Код был очень длинный, судя по кол-ву нажатий на кнопки.
        </p>
        <p>
            План был предельно прост — оглушить противника ударом по голове и придержать дверь, чтобы та не захлопнулась.
        </p>
        <p>
            Показался знакомый строгий костюм. Похоже, это заходил тот человек из правительства.
        </p>
        <p>
            Егор замахнулся.
        </p>
    </section>
</div>
