<div class="text">
    <section>
        <p>
            Егора одолевали смутные сомнения.
        </p>
        <p>
            Если бы был хоть малейший намёк на проблемы — корабль незамедлительно бы дал знать ему об этом. Вероятность
            того, что неисправность не была замечена компьютером —
            <a href="#" class="easter-egg" data-effect-target="immolate-improved">крайне мала.</a>
        </p>
        <p>
            «Что-то здесь совсем не так.. Они даже не удивились тому, что ракета другого цвета и так далее. Они вообще в
            курсе, что я сам другого цвета?» — размышлял Егор.
        </p>
        <p>
            Конечно, можно было развернуться и полететь в другую сторону, но есть ли в этом хоть какой-то смысл?
        </p>
        <p>
            Со странным ощущением в груди, герой всё же стал собирать «пожитки» и выполнять предполагаемые протоколом
            инструкции.
        </p>
    </section>
</div>