<div class="text">
    <section>
        <h1>Глава 11.</h1>
        <h2>Человек из правительства.</h2>
        <p>
            Егор проснулся с чугунной головой, как после хорошей пьянки. Во рту был привкус металла.
        </p>
        <p>
            Он огляделся — комнатка была маленькой, места было буквально для кровати, тумбочки, стола и стула, которые
            почти полностью заполняли её. И всё было полностью белым.
        </p>
        <p>
            Космонавт потянулся в карман за наладонником, но его там не оказалось. Что ж, это было ожидаемо. Остаётся
            надеяться, что его действительно в целях безопасности изъяли, и когда все проверки будут пройдены — всё
            вернут на место.
        </p>
        <p>
            Ну хоть одежду оставили — и то хорошо.
        </p>
        <p>
            Окон не было, лишь тускло светила лампочка над головой.
        </p>
    </section>
</div>