<div class="text">
    <section>
        <p>
            Достав наладонник, Егор увидел сообщение с неизвестного адреса. Вернее, его вообще не было, был только
            текст. Как будто при заполнении конверта не указали обратный адрес.
        </p>
        <p>
            «Ег мырсрьглта ырэг Ырсреыр ег кырсрутауи ыкуырсршт ьнг нфеавырэ Ьну нырзеавт ырсру угштнф звпнкаунтнфг Та
            нфеап дпма угшта нялтаыкпуи та яырсрырсрзп угшги Ди»
        </p>
        <p>
            Космонавт почесал лоб.
        </p>
        <p>
            «Ах да, наша старая шифровка. Но откуда у Кирилла эта информация?»
        </p>
        <p>
            Если расшифровать, получалось следующее:
            «Не доверяй им. Они не хотят, чтобы все знали. Все сигналы от тебя глушатся. Я знаю куда тебя спрячут, я
            помогу тебе. К.»
        </p>
        <p>
            Сообщение было коротким — значит Кирилл использовал какие-то нестандартные способы его передачи.
        </p>
        <p>
            Он не писал так уже много лет.
        </p>
        <p>
            Этот способ шифрования ребята придумали ещё в начальной школе. Суть сводится к тому, чтобы набирать русские
            буквы латиницей, но в другой раскладке клавиатуры. Таким образом K английская становилась Л русской. Далее
            нужно было повторить эту процедуру. То есть, L английская становилась Д русской.
        </p>
        <p>
            Шифровка здесь лишь для того, чтобы дать понять, что дело серьёзное.
        </p>
    </section>
</div>