<div class="text">
  <section>
    <p>
      Вскоре это прекратилось.
    </p>
    <p>
      — Это танк-разведчик. Возможно, что ищет тебя, — пояснила Вика.
    </p>
    <p>
      — Понял, — кивнул Егор.
    </p>
    <p>
      — Нам тут уже недалеко осталось. Дальше просто по прямой и скоро увидим выход.
    </p>
    <p>
      И они пошли дальше.
    </p>
  </section>
</div>
