<div class="text">
    <section>
        <p>
            Наконец, взяв себя в руки, космонавт побрёл в ванную комнату, где умыл лицо и почистил зубы.
        </p>
        <p>
            Воду он сделал по-холоднее, чтобы она привела его в чувство.
        </p>
    </section>
</div>