<div class="text">
    <section>
       <p>
           Введя необходимые инструкции, Егор снова воспользовался капсулой.
       </p>
        <p>
            Пробуждение должно было наступить при появлении любого объекта в поле видимости.
            Или через месяц, если ничего так и не появится.
        </p>
        <p>
            Даже что-то снилось, что бывает крайне редко в таких случаях.
        </p>
    </section>
</div>