<div class="text">
    <section>
        <p>
            Синяя лампочка замигала снова — на этот раз по причине приближения спасательной шлюпки.
        </p>
        <p>
            Дальнейшие действия практически не предусматривали участия человека, всё происходило в автоматическом
            режиме. Требовалось лишь нажать кнопку «старт», что Егор и сделал.
        </p>
        <p>
            Началась процедура стыковки.
        </p>
    </section>
</div>