<div class="text">
    <section>
        <p>
            Прошло несколько дней. Или не дней. Правильнее сказать — Егор уже трижды ложился спать на долгое время.
            Солнца за окнами нет, и было сложно судить — ночь сейчас или день.
        </p>
        <p>
            Впрочем, самого окна тоже не было.
        </p>
        <p>
            Чтобы не сойти с ума — космонавт занимался физическими упражнениями.
        </p>
    </section>
</div>
