<div class="text">
    <section>
        <p>
            Теперь Егор был снова предоставлен самому себе.
        </p>
        <p>
            От этого ему было немного не по себе. Но выбор был невелик — возвращаться обратно в камеру и провести там
            чёрт знает сколько времени не очень хотелось.
        </p>
        <p>
            Функция помещения не была ясна. Было похоже на какой-то склад. Здесь и там лежали всякие ящики с
            оборудованием, одеждой и прочими вещами, которые могут здесь пригодится.
        </p>
        <p>
            Но в то же время было слишком много пустого пространства.
        </p>
        <p>
            Охранники вокруг были немногочисленны. Уверенным шагом Егор двинулся к лифтам.
        </p>
    </section>
</div>
