<div class="text">
    <section>
        <p>
            Началась процедура стыковки.
        </p>
        <p>
            Послышались характерные звуки.
        </p>
        <p>
            Егор поспешил в «предбанник».
        </p>
        <p>
            Из-за дверей показался человек.
        </p>
        <p>
            Он быстро пробежал глазами по интерьеру корабля и сфокусировался на Егоре.
        </p>
        <p>
            — Ну здравствуй, Егор! Очень рад тебя видеть, — человек протянул руку. Хоть он и улыбался, в его глазах
            виднелась какая-то недоброжелательность.
        </p>
        <p>
            Егор пожал руку и уточнил:
        </p>
        <p>
            — Вы помощник президента по безопасности?
        </p>
        <p>
            — Он самый, — кивнул собеседник. Прошу прощения, забыл представиться. Александр Сергеевич. Как Пушкин.
        </p>
        <p>
            — Очень приятно, Александр Сергеевич.
        </p>
        <p>
            В это время из-за двери вышли два молодчика с автоматами наперевес.
        </p>
        <p>
            — Александр Сергеевич, всё в порядке? — поинтересовались они, кивнув на Егора.
        </p>
        <p>
            — Господи, да! Опустите пушки! Егор же наш самый почётный гражданин! — замахал руками Александр Сергеевич.
        </p>
        <p>
            Парни опустили оружие.
        </p>
        <p>
            — Прошу нас простить за столь чрезмерные меры безопасности. Но таков уж протокол — не каждый день к нам
            прилетают инвертированные люди. Мало ли кто мог прилететь, и что могло произойти. Хоть <i>он</i> и обещал,
            что всё будет хорошо, но.. — тут помощник президента резко умолк. И это его «он» прозвучало как-то
            по-особенно, трудноуловимо, но всё же не так как обычно люди произносят это местоимение.
        </p>
        <p>
            Сначала Егор хотел не подать вида, но всё-таки спросил:
        </p>
        <p>
            — Он?..
        </p>
        <p>
            Александр Сергеевич поджал губы:
        </p>
        <p>
            — Неважно. Впрочем, вы сами скоро познакомитесь, — после короткой паузы он сменил тему, — нам приказано
            доставить тебя на секретную базу для обследования на предмет различного рода опасностей. Надеюсь, ты
            понимаешь.
        </p>
        <p>
            Егор утвердительно кивнул. Вполне ожидаемая процедура.
        </p>
        <p>
            — Вот и славненько. Тогда выпей это, — из кармана показались пилюли, — это снотворное. Не волнуйся, оно
            безвредно. Просто ты не должен знать, куда мы полетим, — пояснил «зампотыл».
        </p>
    </section>
</div>