<div class="text">
    <section>
        <p>
            Для начала Егор включил музыку. Из динамиков узкой направленности зазвучал какой-то трек. Фактически, если
            бы кто-то находился рядом, только Егор бы слышал это всё. И при этом он так же чётко продолжал слышать
            окружающее его пространство. Гениальное изобретение, сделавшее жизнь многих людей гораздо лучше.
        </p>
        <p>
            Хочешь громко послушать музыку, но не хочешь мешать соседям? С помощью технологии узкой направленности это
            больше не проблема.
        </p>
        <p>
            В итоге стоимость таких вещей так сильно упала, что встретить в продаже классические акустические системы
            уже практически невозможно.
        </p>
        <p>
            Тем временем Егор придумал себе занятие — пританцовывая он зашагал в оранжерею.
        </p>
    </section>
</div>