<div class="text">
    <section>
        <p>
            Вытерев лоб рукавом униформы, Егор сильнее обхватил пистолет.
        </p>
        <p>
            Ему ничего не оставалось, кроме как прорываться с боем.
        </p>
    </section>
</div>
