<div class="text">
    <section>
        <p>
            Взяв стул, стоявший возле стола, человек из правительства сел, скрестил ноги и продолжил:
        </p>
        <p>
            — Всё пошло не по плану, вы слишком рано пересекли границу. Человечество ещё не готово к этому. Мои
            наниматели тоже ожидали это событие позже.
        </p>
        <p>
            Егор лишь молчал.
        </p>
        <p>
            — Но вы произвели положительные впечатления, и мне были выданы инструкции сохранить вам жизнь.
        </p>
        <p>
            Егор ошарашенно молчал.
        </p>
        <p>
            — Дальнейших инструкций больше не поступало, поэтому вам придётся пока что побыть здесь. Не волнуйтесь — о
            вашей безопасности следят лучшие офицеры армии.
        </p>
        <p>
            Егор продолжал молчать.
        </p>
        <p>
            — Что ж, я рад, что мы пришли к взаимопонимаю. До свидания, Егор, — попрощался человек и вышел из комнаты.
        </p>
        <p>
            Егор всё ещё молчал.
        </p>
        <p>
            «Меня могли убить? За что? За первый в мире полёт за пределы вселенной? Что за чушь?!» — в голове мелькали
            не самые приятные предположения.
        </p>
    </section>
</div>