<div class="text">
    <section>
        <p>
            Дверь открылась. Вошёл мужчина средних лет в строгом костюме и, закрыв за собой дверь, произнёс:
        </p>
        <p>
            — Пожалуйста, Егор, присядьте, нам нужно поговорить.
        </p>
        <p>
            От мужчины веяло холодом даже больше, чем от «зампотыла». А в его странного цвета глазах виднелся лишь один
            совет — повиноваться.
        </p>
        <p>
            Что Егор и сделал, но всё же поинтересовался:
        </p>
        <p>
            — Кто вы такой?
        </p>
        <p>
            — Я не вправе сейчас обсуждать это. Могу лишь сказать, что я говорю от лица правительства, — последовал
            ответ.
        </p>
        <p>
            Егор отметил про себя его подчёркнуто безупречное произношение.
        </p>
        <p>
            — Продолжайте, — осторожно сказал космонавт.
        </p>
    </section>
</div>