<div class="text">
    <section>
        [звук помех и винила]

        <p>
            Во время очередного подхода, он услышал помехи и очень искажённый голос сквозь них откуда-то сверху.
        </p>
        <p>
            «Надеюсь, меня слышно. Приготовься! Я смогу отключить питание лишь на некоторое время, ты должен успеть выключить поле иллюзий.»
        </p>
    </section>
</div>
