<div class="text js-scrollable-item">
    <section>
        <p>
            За окном шумела ночь — гул старых фонарей, цикады и сверчки. Иногда, в особенно сырые дни, можно было даже расслышать стук колёс проезжающего поезда. Но слышалось это настолько неприметно, что можно было подумать, что это лишь слуховые галлюцинации.
        </p>
        <p>
            В то же время мужчина не спешил стирать с себя всю кровь. Судя по всему, он надел одежду, которую не жалко запятнать. Его лицо выражало удовлетворение. Небрежно бросив хромированный инструмент в ёмкость с антисептиками, он втёр кровь себе в лицо — будто умываясь. После чего шумно вздохнул и опустился на колени перед девушкой. Он обнял её ноги, прижавшись к ним лицом, вдыхая запах. После чего стал гладить их, покрывать поцелуями раны, и.. рыдать. Не могу сказать наверняка от печали или от радости, но, по крайней мере, слёзы точно лились с его глаз, обжигая солью зияющие места порезов.
        </p>
        <p>
            Она не помнила, чтобы с ним происходило такое ранее. Хотя она так часто теряла сознание от боли, что вполне могла просто не помнить о подобном. Как бы то ни было, он встал и молча побрёл наверх, вернувшись через какое-то время с бинтами, спиртом и ватой. Бережно продезинфицировав и обмотав её с ног до головы, он достал одеяло и укрыл девушку, оставив последнюю то ли спать, то ли умирать.
        </p>
    </section>
</div>