<div class="text">
    <section>
        <p>
            И опять снился сон. Каждую ночь одно и то же. Но на утро, как обычно, всё забудется.
        </p>
        <p>
            Может быть, оно и к лучшему. Останутся только туманные воспоминания о приоткрытых, словно приглашающих
            куда-то воротах, рядом с которыми в камне застыли два пионера.
        </p>
        <p>
            А ещё странная девочка. Которая постоянно спрашивает «ты пойдёшь со мной?»
        </p>
    </section>
</div>