<div class="text">
  <section>
    <p>
      Через пару мгновений в дверь постучали.
      Мать поспешила открыть.
    </p>
    <p>
      – Здравствуйте, чем могу помочь?
    </p>
    <p>
      На пороге показался человек в строгом костюме:
    </p>
    <p>
      – А я за Егором.
    </p>
    <p>
      – Ой, да, конечно. А мы как раз заканчивали ужин, – ответила мама как ни в чём не бывало.
    </p>
    <p>
      И, повернув голову, позвала сына:
      – Егор, это к тебе. Беги скорее!
    </p>
    <p>
      Егор повиновался и подошёл к мужчине. Батя как ни в чём не бывало смотрел телевизор.
    </p>
    <p>
      Послышался могильный голос:
    </p>
    <p>
      – Ну что, готов?
    </p>
    <p>
      Егор кивнул.
    </p>
    <p>
      – Ну тогда начнём, – сказал человек, после чего крепко сжал Егору руки. Последний закричал от боли.
    </p>
    <p>
      Мама с папой никак на это не реагировали. Будто старый друг Егора забежал позвать на прогулку.
    </p>
  </section>
</div>
