<div class="text">
    <section>
        <p>
            Обещали дождь. И вот он начинается, точно по расписанию.
        </p>
        <p>
            Сейчас прогноз погоды никогда не врёт, вся погода стала плановой,
            с того момента, как люди научились ей управлять.
        </p>
        <p>
            Даже проходили голосования на ту или иную погоду.
        </p>
        <p>
            В этот раз она голосовала за дождь.
        </p>
        <p>
            Сегодня ей так хотелось дождя..
        </p>
    </section>
</div>