<div class="text">
    <section>
        <p>
            [продолжает звучать трек эпохи классической музыки]
            [одиночный звук грома, перед ним вспышкой показать молнию]

            Обещали дождь. И вот он начинается, точно по расписанию.
            Сейчас прогноз погоды никогда не врёт, вся погода стала плановой,
            с того момента, как люди научились ей управлять.
            Даже проходили голосования на ту или иную погоду.
            В этот раз она голосовала за дождь.
            Сегодня ей так хотелось дождя..
        </p>
    </section>
</div>