<div class="text">
  <section>
    <p class="todo">
      [звук открывания люка и лязганья железа]
    </p>
    <p>
      Люк оказался не таким лёгким, но всё же наш герой с ним справился.
    </p>
    <p>
      Перед ним стояло здание вокзала. Из красного кирпича. Всё как в детстве, ничего не изменилось.
    </p>
    <p>
      Обойдя здание с обратной стороны, он приметил того самого охранника. Правда его щетина уже больше напоминала бороду. Но штаны были правильного цвета.
    </p>
    <p>
      Егор подошёл к мужчине, но не успел ничего сказать, как тот его оборвал:
    </p>
    <p>
      — Ваши документы.
    </p>
    <p>
      — Железо и медь, — ответил Егор.
    </p>
    <p>
      — Ваши документы. Или я вызываю полицию, — повторил охранник. Видок у него был грозный.
    </p>
    <p>
      — Я.. Я.. Мне сказали.. — начал лепетать наш герой.
    </p>
    <p>
      — Всё понятно. Пройдёмьте, молодой человек, — жестом охранник указал на дверь.
    </p>
    <p>
      Егор повиновался.
    </p>
  </section>
</div>
