<div class="text">
    <section>
        <p>
            Но на табло отображался его этаж, а значит лифт уже сам ехал сюда.
            Интуиция подсказала герою, что лучше переждать.
            Поэтому он резким шагом зашёл за стоящие неподалёку коробки и притаился за ними.
        </p>
    </section>
</div>
