<div class="text">
    <section>
        <p>
            <b>[звук едущего лифта]</b>
        </p>
        <p>
            Но неожиданно он услышал звук, означающий приближение лифта. Интуиция подсказала герою, что лучше переждать.
            Поэтому он резким шагом зашёл за стоящие неподалёку коробки и притаился за ними.
        </p>
    </section>
</div>
