<div class="text">
    <section>
        <p>
            Наконец, они вышли в последнюю.
        </p>
        <p>
            Друзья попали в просторное помещение. Всё по-прежнему было белым. А на дверях были обычные сканеры карт или
            кодовый замок.
        </p>
        <p>
            — Удобно иметь высший уровень доступа — самодовольно сказал Кирилл.
        </p>
        <p>
            — Не то слово. А у кого ещё есть высший уровень? — спросил Егор.
        </p>
        <p>
            — На самом деле таких не так и мало. Человек 20-30 имеют такой. Но на этом уровне карты, которую ты забрал у
            охранника будет достаточно, чтобы пройти в большинство дверей. Бедняги не могут пройти за все эти сто дверей
            повышенного уровня без сопровождения. Таков протокол.
        </p>
        <p>
            Ах да, для дверей с кодовым замком используй: 0451.
        </p>
        <p>
            Егор потянулся за наладонником, чтобы его записать, но вспомнил, что у него всё изъяли.
        </p>
        <p>
            Кирилл заметил это и сказал:
        </p>
        <p>
            — Действительно, нужно же сначала вернуть тебе твои вещи и выдать униформу, чтобы ты здесь не выделялся.
            Тогда давай поступим так: я пойду на склады, а ты подожди пока в туалете, — он махнул рукой в сторону двери
            с буквой «М», — там тебя точно никто искать не будет.
        </p>
        <p>
            С одной стороны, это было слегка унизительно для нашего героя, с другой он был рад, ведь ему уже давно
            хотелось посетить эту комнату. С этими смешанными чувствами он и прошёл в неё.
        </p>
    </section>
</div>
