<div class="text">
    <section>
        <p>
            Втащив тело за собой, Егор развернул человека, чтобы обыскать.
        </p>
        <p>
            Глаза расширились — в костюме был Кирилл!
        </p>
        <p>
            «Какого чёрта он здесь делает?!» — опешил Егор.
        </p>
        <p>
            «Нужно срочно привести его в чувства!» — подумал космонавт.
        </p>
        <p>
            Он стал тормошить старого друга и хлопать его по щекам.
        </p>
        <p>
            Наконец, Кирилл открыл глаза.
        </p>
        <p>
            — Что случилось? — спросил он слабым голосом, — Егор! Это ты?
        </p>
        <p>
            — Я, мой друг, — с улыбкой ответил Егор.
        </p>
        <p>
            Он помог своему другу присесть, и они обнялись, похлопывая друг друга по спине.
        </p>
        <p>
            — Я тоже рад тебя видеть. Но мы должны торопиться, — сказал Кирилл.
        </p>
        <p>
            — Как ты вообще здесь очутился? — спросил Егор.
        </p>
        <p>
            — Это долгая история. Потом я обязательно расскажу тебе всё. Если коротко — ты на Луне. Вернее, под землёй
            Луны.
        </p>
        <p>
            Заметив нарастающее удивление Егора, он продолжил:
        </p>
        <p>
            — Это сверхсекретный комплекс для исследований. В том числе его используют ещё и в качестве своеобразной
            тюрьмы. Я являюсь одним из членов команды. Вернее, являлся. То есть.. Не знаю как правильно сформулировать.
            Короче, можно сказать, что я пошёл против системы.
        </p>
        <p>
            — Что? Ты понимаешь, чем это может обернуться для тебя? — спросил изумлённый Егор.
        </p>
        <p>
            — Конечно я осознаю все риски. Ты многое не знаешь. Если захочешь однажды узнать — ты и сам изменишь своё
            мнение. Послушай, я знаю, у тебя много вопросов. Но пока давай сосредоточимся на твоём спасении отсюда.
        </p>
        <p>
            Главный герой утвердительно кивнул головой, поджав губы.
        </p>
        <p>
            Действительно — вопросов было очень много. После вышесказанного их стало ещё больше.
        </p>
        <p>
            «Сейчас бы не помешало успокоительное» — подумал Егор про таблетки.
        </p>
    </section>
</div>
