<div class="text">
  <section>
    <p>
      Она полетела обратно и взорвалась спустя мгновение.
    </p>
    <p>
      За клубами дыма никого не было видно. Лишь на миг Егор разглядел выпученные глаза полковника.
    </p>
    <p>
      Секунду Егор стоял неподвижно. Но довольно быстро пришёл в себя и нажал кнопку нужного этажа.
    </p>
    <p>
      В этот раз проблем не возникло, и лифт ехал туда, куда ему приказали.
    </p>
  </section>
</div>
