<div class="text">
    <section>
        <h1>
            Глава 5.
        </h1>
       <p>
           Прошло несколько дней. Егор постоянно разбавлял Уиллиса менее модернистскими рассказами, которые было не так сложно воспринимать.
       </p>
        <p>
            Оставалась последняя сотня страниц, но дочитать ему не дали — корабль стал резко сбрасывать скорость.
        </p>
    </section>
</div>