<div class="text">
    <section>
        <h1>Глава 8.</h1>
        <h2>Она всё-таки смотрит.</h2>
        <p>
            А тем временем она следила за путешествием.
        </p>
        <p>
            Я говорю о бывшей жене Егора, Марии.
        </p>
        <p>
            После работы ей не хотелось звуков или мельтешащих картинок.
            Поэтому она включила свою любимую музыку
            и время от времени обращала своё внимание на текстовую трансляцию.
        </p>
        <p>
            Вопреки мнению Егора, она довольно сильно переживала за него.
            И её сердце билось чаще, когда появлялись любые новости касательно полёта.
        </p>
        <p>
            Но последняя информация была противоречивой.
            То мол Егор преодолел барьер. То будто он летит по направлению дома.
            Но в одном всё сходилось — он был жив.
            И это радовало больше, чем какие бы то ни было открытия.
        </p>
    </section>
</div>

<div class="templates">
    <div id="side-text-scroll-left-template">
        <span class="ok">По последним донесениям корабль преодолел границу Вселенной!</span>
        <span class="ok">
            Реклама: Дюбонне! Пейте дюбонне!
        </span>
        Возможно, последние данные быши ошибочны — корабль возвращется на базу.
        <span class="warning">
            По неизвестной причине лайнер стал другого цвета. Неужели опять то самое?!
            Быть может хоть в этот раз станет ясно почему.
        </span>
        <span class="error">Батарея почти разряжена! Подключитесь к источнику питания!</span>
        <span class="ok">Связь между командным центром и кораблём вновь налажена!</span>
    </div>
    <div id="side-text-scroll-right-template">
        <span class="ok">По последним донесениям корабль преодолел границу Вселенной!</span>
        <span class="ok">
            Реклама: Дюбонне! Пейте дюбонне!
        </span>
        Возможно, последние данные быши ошибочны — корабль возвращется на базу.
        <span class="warning">
            По неизвестной причине лайнер стал другого цвета. Неужели опять то самое?!
            Быть может хоть в этот раз станет ясно почему.
        </span>
        <span class="error">Батарея почти разряжена! Подключитесь к источнику питания!</span>
        <span class="ok">Связь между командным центром и кораблём вновь налажена!</span>
    </div>
</div>