<div class="text">
    <section>
        <h1>Глава 8.</h1>
        <h2>Она всё-таки смотрит.</h2>
        <p>
            [по бокам бежит разнообразный текст]
            [звучит трек эпохи классической музыки]

            А тем временем она следила за путешествием.
            И я говорю о бывшей жене Егора, Марии.
            После работы ей не хотелось звуков или мельтешащих картинок.
            Поэтому она включила свою любимую музыку
            и время от времени обращала своё внимание на текстовую трансляцию.

            Вопреки мнению Егора, она довольно сильно переживала за него.
            И её сердце било чаще, когда появлялись любые новости касательно полёта.

            Но последняя информация была противоречивой.
            То мол Егор преодолел барьер. То будто он летит по направлению дома.
            Но в одном всё сходилось - он был жив.
            И это радовало больше, чем какие бы то ни было открытия.
        </p>
    </section>
</div>