<div class="text">
  <section>
    <p>
      Через пару часов Егор услышал как закрылся трюм. После чего корабль стал готовиться к старту.
    </p>
    <p>
      Ещё через какое-то время открылись огромные ставни ангара, сквозь которые железяка стала выплывать в открытый
      космос.
    </p>
    <p>
      К сожалению, Егор всего этого не видел — иллюминаторов на корабле не предусмотрено.
    </p>
    <p>
      Но зато краем уха он успел уловить звук сирены..
    </p>
  </section>
</div>
