<div class="text">
    <section>
        <p>
            Тем временем, Егор совершенно не был в курсе событий и спокойно летел себе дальше.
        </p>
        <p>
            Но вдруг замигала синяя лампочка, сигнализирующая о входящем запросе на проведение сеанса радиосвязи.
        </p>
        <p>
            Вскинув брови в удивлении, Егор встал с дивана, поспешил к панели управления и нажал на кнопку приёма
            вызова.
        </p>
    </section>
</div>