<div class="text">
  <section>
    <p>
      Люди научились преодолевать огромные расстояния за считанные секунды, но железную дорогу, кажется, ничего не
      сможет заменить.
    </p>
    <p>
      Мерный стук колёс уносил Егора вдаль. Скоро он встретится со своей любимой.
    </p>
    <p>
      «Мария..» – шептал он экрану наладонника, на котором он листал фотографии с ней, – «скоро мы снова будем вместе».
    </p>
    <p>
      Ему жутко хотелось написать ей и предупредить о своих намерениях, но была высока вероятность, что его тут же
      засекут.
    </p>
  </section>
</div>
