<div class="text">
  <section>
    <p>
      Егор успокоился и восстановил дыхание. Чмокнул возлюбленную в щёчку и пошёл на кухню попить воды.
    </p>
    <p>
      Со стаканом в руке он смотрел в окно. На улице не было ни души, царила ночь.
    </p>
    <p>
      Пришлось бежать с Земли, но вариантов много и не было.
    </p>
    <p>
      На этой планете вряд ли их скоро найдут. Да и вообще вряд ли сунутся — здесь был отнюдь не социализм, и с Земным
      Вождём здесь не дружили. Но политическое убежище дали с удовольствием.
    </p>
    <p>
      Хорошо, что хватило ума выкинуть наладонник ещё на Луне. Иначе их бы быстро нашли.
    </p>
    <p>
      Кириллу, к сожалению, повезло меньше. С тех пор он так ни разу и не вышел на связь. Должно быть, его схватили..
    </p>
  </section>
</div>
