<div class="text">
    <section>
        <p>
            Перед открытием дверей, Егор спрятался за выступами для них.
        </p>
        <p>
            Он услышал знакомый грубый голос:
        </p>
        <p>
            — Выходи с поднятыми руками. Мы знаем что ты там.
        </p>
        <p>
            — Нет, обратно я не вернусь! -- прокричал Егор в ответ.
        </p>
        <p>
            — Дело твоё, — пожав плечами сказал Александр Сергеевич, — ребята, покажите нашему гостю, что бывает с теми,
            кто не повинуется.
        </p>
    </section>
</div>
