<div class="text">
  <section>
    <p class="todo">
      [звуки проезжающего бронетрансортёра (или танка), вибрация (если уместно)]
    </p>
    <p>
      Вдруг всё затряслось. Крысы попрятались в свои норы. Виктория жестом дала знак остановиться.
    </p>
    <p>
      Егор замер.
    </p>
    <p>
      — Что происходит? — он спросил шепотом.
    </p>
    <p>
      — Шшш! — зашипела девушка, кивком головы показывая наверх.
    </p>
  </section>
</div>
