<div class="text">
    <section>
        [звуки набирания кода — 36 пиков]

        <p>
            Кирилл подошёл к цифровой панели и стал набирать код.
        </p>
        <p>
            — Охраны здесь почти нет. Никто не верит, что обычные люди смогут вообще добраться сюда. А значит и нет смысла тратить деньги. Так что проблем быть не должно.
        </p>
        <p>
            За дверью оказалась ещё одна дверь — на этот раз со сканером сетчатки глаза.
        </p>
        <p>
            Кирилл приблизился к сканеру и через несколько секунд  дверь открылась.
        </p>
        <p>
            За которой была ещё одна дверь..
        </p>
        <p>
            А за ней другая.
        </p>
        <p>
            И ещё, и ещё..
        </p>
        <p>
            Наконец, они вышли в последнюю.
        </p>
    </section>
</div>
