<div class="text">
    <section>
        <p>
            Кирилл подошёл к цифровой панели и стал набирать код.
        </p>
        <p>
            — Охраны здесь почти нет. Никто не верит, что обычные люди смогут вообще добраться сюда. А значит и нет
            смысла тратить деньги. Так что проблем быть не должно.
        </p>
        <p>
            За дверью оказалась ещё одна дверь — на этот раз со сканером сетчатки глаза.
        </p>
    </section>
</div>
