<div class="text">
    <section>
        <p>
            С их последней встречи прошло немало лет.
        </p>
        <p>
            И в голове до сих пор звучал последний крик, когда Егор уже уходил:
            «Ты никогда не станешь космонавтом!»
        </p>
        <p>
            Как иронично.
        </p>
        <p>
            Выглядело так, будто он всю жизнь доказывал ей, что она ошибалась.
        </p>
        <p>
            Возможно всё было бы иначе, если бы не её гордость.
        </p>
        <p>
            Но ей так тяжело было переступить через эту пропасть.
            Будто она предаст себя, если произнесёт буквально пару слов.
            И тысячу раз прокручивая в голове сцену примирения, она лишь плакала от боли.
        </p>
        <p>
            Но так ничего и не сделала.
        </p>
    </section>
</div>