<div class="text">
    <section>
        <p>
            [продолжает звучать трек эпохи классической музыки]

            С их последней встречи прошло немало лет.
            И в голове до сих пор звучал последний крик, когда Егор уже уходил:
            "Ты никогда не станешь космонавтом!"
            Как иронично.
            Выглядело так, будто он всю жизнь доказывал ей, что она ошибалась.

            Возможно всё было бы иначе, если бы не её гордость.

            Но ей так тяжело было переступить через эту пропасть.
            Будто она предаст себя, если произнесёт буквально пару слов.
            И тысячу раз прокручивая в голове сцену примерения, она лишь плакала от боли.
            Но так ничего и не сделала.
        </p>
    </section>
</div>