<div class="text js-scrollable-item">
    <header>
        ЗАГЛЯНУТЬ ЗА..
    </header>
    <article>
        Предисловие:
        Все описываемые персонажи события вымышлены, совпадения с реальными — чистая случайность.
    </article>
    <section>
        <p class="start-reading from-begin">
            <a href="#" class="action" data-effect-target="sword">Начать читать</a>
        </p>
        <p class="start-reading from-last">
            <a href="#" class="action" data-effect-target="sword">Продолжить читать</a>
        </p>
        <p></p>
        <p></p>
        <p>
            P.S.: случайно и неслучайно забредшим, напоминание:
        </p>
        <p>
            это <b>не финальная</b> версия рассказа.
        </p>
        <p>
            Некоторые части повествования и/или эффектов могут меняться.
        </p>
        <p>
            Спасибо за понимание.
        </p>
    </section>
</div>