<div class="text">
    <section>
        <p>
            Удар!
        </p>
        <p>
            Человек упал без чувств.
        </p>
        <p>
            Отлично, теперь Егору нужно не забыть про дверь.
        </p>
        <p>
            Но эту проблему взял на себя упавший — нога осталась в проходе и дверь не смогла закрыться.
        </p>
        <p>
            План сработал!
        </p>
    </section>
</div>
