<div class="text">
  <section>
    <p>
      Но тут видение стало растворяться и Егор «вернулся» обратно.
    </p>
    <p>
      Он ещё долго лежал в постели, не смыкая глаз.
    </p>
    <p>
      Но в конце концов в объятиях любимой все невзгоды постепенно уходят.
    </p>
    <p>
      «Всё-таки путешествие через барьер не могло пройти бесследно. Скоро эти приколы с моим мозгом должны пройти» –
      подумал Егор и на этой мысли провалился в безмятежный сон.
    </p>
    <p>
      А на улице стоял какой-то человек в строгом костюме и, не моргая, смотрел на окна их квартиры..
    </p>
  </section>
</div>
