<div class="text">
    <section>
        <p>
            Поток его мыслей резко оборвался шагами, что доносились с внешней стороны входа в туалет.
        </p>
        <p>
            Егор быстро забежал в кабинку и закрылся на щеколду.
        </p>
    </section>
</div>
