<div class="text">
    <section>
        <p>
            С какой-то стороны такие комнаты были анахронизмом.
        </p>
        <p>
            Но с другой, как ни крути, но человек — это такое же животное. И ему необходима природа. Пусть и в виде
            простой оранжереи. Порой не хватает побыть среди зелени и цветов, покопаться в земле, поделать что-то своими
            руками, кроме клацанья по клавиатуре.
        </p>
        <p>
            Для таких целей и были созданы такие вот комнатки.
        </p>
        <p>
            Растения здесь все были настоящими. Цветы, трава и даже деревья.
        </p>
        <p>
            Если человек не принимает регулярного участия в ухаживании за ними, это делают роботизированные системы. Так
            что проблем не возникает.
        </p>
        <p>
            Над головой даже было голографическое подобие неба. Довольно-таки реалистичное. Если после хорошей пьянки
            очухаться там — даже не сразу догадаешься, что небо бутафорское. Тут даже есть имитация ветра и прочих
            погодных условий.
        </p>
        <p>
            Такой себе кусочек родной планеты, — дачный участок, если угодно.
        </p>
    </section>
</div>