<div class="text">
  <section>
    <p>
      И действительно, через какое-то время показалась лестница, ведущая наверх к люку.
    </p>
    <p>
      — Ну всё, мы пришли, тебе сюда, — махнула девушка наверх, — ты вылезешь прямо возле вокзала. Около чёрного входа
      будет стоять охранник с рыжеватой щетиной. Он должен мне пиво. Скажи ему пароль «железо и медь», и он пропустит
      тебя к грузовым вагонам, где ты и схоронишься до своей станции. Всё, давай не тормози, отправление через час.
    </p>
    <p>
      Егор поблагодарил девушку и полез наверх.
    </p>
    <p>
      Она украдкой посмотрела на его зад. Видимо, тоже давно у неё никого не было.
    </p>
  </section>
</div>
