<div class="text">
    <section>
       <p>
           В космосе не было звуков, поэтому голова сама воображала их. Каждый удар глухим эхом отзывался в голове.
       </p>
        <p>
            Наконец, стало появляться нечто белое. Правда пока это фиксировалось исключительно приборами.
            Пробилась совсем крошечная часть корабля.
        </p>
        <p>
            Медленно, но верно, Егор пробивался
            <a href="#" class="action" data-effect-target="over-the-garden-wall">за ту сторону изгороди.</a>
        </p>
        <p>
            Было удивительно, что такой способ вообще работал.
        </p>
    </section>
</div>
<div class="for-modal-content">
    <div data-html-id="over-the-garden-wall">
        <div>
            <p>
                Отсылка на анимационный мини-сериал
                <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE_%D1%82%D1%83_%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D1%83_%D0%B8%D0%B7%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8"
                   class="external-link" target="_blank">«по ту сторону изгороди».</a>
            </p>
        </div>
    </div>
</div>