<div class="text">
  <section>
    <p>
      Полёт обещал быть небыстрым, поэтому наш герой, устроившись поудобнее, закинул в рот горсть ненавистных ему
      таблеток и уснул глубоким сном.
    </p>
  </section>
</div>
