<div class="text">
  <section>
    <p>
      Внезапно пришло зашифрованное сообщение от Кирилла.
    </p>
    <p>
      «Что за месиво ты устроил внизу?
      Я не смогу это проигнорировать, придётся самому включать тревогу, иначе меня заподозрят.
      Я буду идти оооочень медленно, корабль должен скоро улететь.
      Не отвечай.»
    </p>
    <p>
      Волноваться уже было поздно. Поэтому Егор просто продолжил чтение.
    </p>
  </section>
</div>
