<div class="credits js-scrollable-item">
    <div class="credits__inner">
        <header>
            Над книгой работали
        </header>
        <section>
            <div class="credits__item">
                <div class="credits__item__label">
                    Программирование, сценарий, звук
                </div>
                <div class="credits__item__value">
                    Олег<br />Шилов
                </div>
            </div>
            <div class="credits__item">
                <div class="credits__item__label">
                    Дизайн
                </div>
                <div class="credits__item__value">
                    Гордей<br />Переходов
                </div>
            </div>
            <div class="credits__item">
                <div class="credits__item__label">
                    Музыка
                </div>
                <div class="credits__item__value">
                    Евгений<br />Магдалиц
                </div>
            </div>
            <div class="credits__item">
                <div class="credits__item__label">
                    Редактура
                </div>
                <div class="credits__item__value">
                    Максим<br />Авраменко
                </div>
            </div>
            <div class="credits__item">
                <div class="credits__item__label">
                    Тестеры
                </div>
                <div class="credits__item__value">
                    Ольга<br />Красавчикова,
                    <br />
                    Олег<br />Худяков,
                    <br />
                    Алёна<br />Зозуля,
                    <br />
                    Илькер<br />Чавдар,
                    <br />
                    Денис<br />Нецвет
                </div>
            </div>
            <div class="credits__item">
                <div class="credits__item__label">
                    Мы будем рады вашей поддержке
                </div>
                <div class="credits__item__value">
                    <a href="https://www.patreon.com/" target="_blank" class="external-link">Patreon,</a>
                    <br />
                    <a href="https://www.paypal.com" target="_blank" class="external-link">Paypal</a>
                </div>
            </div>
        </section>
        <div class="credits__footer">
            <div class="credits__footer__btn close js-credits-close">
                Закрыть
            </div>
        </div>
    </div>
</div>