<div class="menu-full-screen">
    <div class="menu-full-screen__scroll js-scrollable-item">
        <div class="menu-full-screen__inner">
            <div class="menu-full-screen__title">
                Настройки
            </div>
            <div class="menu-full-screen__volume">
                <div class="menu-full-screen__volume__item">
                    <div class="menu-full-screen__label">Общая громкость</div>
                    <div class="menu-full-screen__volume__item__slider">
                        <div class="range-slider__wrapper js-volume-global">
                            <input class="js-range-slider" />
                        </div>
                    </div>
                </div>
                <div class="menu-full-screen__volume__item">
                    <div class="menu-full-screen__label">Фоновые звуки</div>
                    <div class="menu-full-screen__volume__item__slider">
                        <div class="range-slider__wrapper js-volume-loops">
                            <input class="js-range-slider" />
                        </div>
                    </div>
                </div>
                <div class="menu-full-screen__volume__item">
                    <div class="menu-full-screen__label">Прочие звуки</div>
                    <div class="menu-full-screen__volume__item__slider">
                        <div class="range-slider__wrapper js-volume-one-shots">
                            <input class="js-range-slider" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-full-screen__themes">
                <div class="menu-full-screen__label">Оформление</div>
                <div class="menu-full-screen__themes__items-wrapper">
                    <div class="menu-full-screen__themes__item js-theme-option active" data-theme="dark">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="menu-full-screen__themes__item js-theme-option" data-theme="default">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="menu-full-screen__themes__item js-theme-option" data-theme="dark-blue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="menu-full-screen__themes__item js-theme-option" data-theme="black">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="menu-full-screen__invert js-invert-toggle">
                <div class="menu-full-screen__label">Инверсия цвета</div>
                <div class="menu-full-screen__invert__items-wrapper">
                    <div class="menu-full-screen__invert__item js-invert-option" data-invert="true">
                        Вкл
                    </div>
                    <div class="menu-full-screen__invert__item js-invert-option active" data-invert="false">
                        Выкл
                    </div>
                </div>
            </div>
            <div class="menu-full-screen__vibration">
                <div class="menu-full-screen__label">Вибрация</div>
                <div class="menu-full-screen__vibration__items-wrapper">
                    <div class="menu-full-screen__vibration__item js-vibration-option active" data-vibration="true">
                        Вкл
                    </div>
                    <div class="menu-full-screen__vibration__item js-vibration-option" data-vibration="false">
                        Выкл
                    </div>
                </div>
            </div>
            <div class="menu-full-screen__flashlight">
                <div class="menu-full-screen__label">Вспышка</div>
                <div class="menu-full-screen__flashlight__items-wrapper">
                    <div class="menu-full-screen__flashlight__item js-flashlight-option active" data-flashlight="true">
                        Вкл
                    </div>
                    <div class="menu-full-screen__flashlight__item js-flashlight-option" data-flashlight="false">
                        Выкл
                    </div>
                </div>
            </div>
            <div class="menu-full-screen__line-height">
                <div class="menu-full-screen__label">Межстрочный интервал</div>
                <div class="menu-full-screen__line-height__items-wrapper">
                    <div class="menu-full-screen__line-height__item minus js-line-height-minus">-</div>
                    <div class="menu-full-screen__line-height__item value js-line-height-val">100%</div>
                    <div class="menu-full-screen__line-height__item plus js-line-height-plus">+</div>
                </div>
            </div>
            <div class="menu-full-screen__footer">
                <div class="menu-full-screen__footer__btn table-of-contents-btn js-table-of-contents-show">
                    Оглавление
                </div>
                <!--
                <div class="menu-full-screen__footer__btn credits-btn js-credits-show">
                    Титры
                </div>
                -->
                <div class="menu-full-screen__footer__btn close js-menu-full-screen-close">
                    Закрыть
                </div>
            </div>
        </div>
    </div>
</div>