<div class="page loading" data-theme="default" data-vibration="true">
    <div class="popup"></div>
    <div class="main-content">
        <%= require('./text-and-effects.ejs')({context: context}) %>
        <%= require('./table-of-contents.ejs')() %>
        <%= require('./menu.ejs')({pageNumber: pageNumber, pagesLength: pagesLength}) %>
    </div>
</div>