<div class="page" data-theme="default" data-vibration="true" data-font-size="100" data-line-height="100">
    <div class="add-content">
        <div class="add-content__close js-add-content-close" title="Закрыть">x</div>
        <div class="add-content__full-size js-add-content-full-size"
             title="Показать полный размер (откроется в новой вкладке)">
            }{
        </div>
        <div class="add-content__inner js-add-content-inner"></div>
    </div>
    <div class="main-content">
        <div class="side-effects-wrapper">
            <div class="text-shadow"></div>
            <div class="side-text-scroll-wrapper">
                <div class="side-text-scroll-left-wrapper">
                    <div class="side-text-scroll-left">
                        <div class="side-text-scroll-content js-side-text-scroll-left-content"></div>
                    </div>
                </div>
                <div class="side-text-scroll-right-wrapper">
                    <div class="side-text-scroll-right">
                        <div class="side-text-scroll-content js-side-text-scroll-right-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-wrapper js-scrollable-item" tabindex="-1" data-xthreshold="100"></div>
        <%= require('./menu.ejs')() %>
        <%= require('./table-of-contents.ejs')() %>
        <%= require('./menu-full-screen.ejs')() %>
    </div>
</div>