<div class="page" data-theme="default" data-vibration="true" data-xthreshold="250">
    <input type="text" title="" class="hidden-input-for-focus" hidden />
    <div class="bg-wrapper"></div>
    <div class="add-content">
        <div class="add-content__close js-add-content-close" title="Закрыть">x</div>
        <div class="add-content__full-size js-add-content-full-size"
             title="Показать полный размер (откроется в новой вкладке)">
            }{
        </div>
        <div class="add-content__inner js-add-content-inner"></div>
    </div>
    <div class="main-content">
        <div class="text-wrapper">

        </div>
        <%= require('./table-of-contents.ejs')() %>
        <%= require('./menu.ejs')({pageNumber: pageNumber, pagesLength: pagesLength}) %>
    </div>
</div>