<div class="page" data-theme="default" data-vibration="true" data-font-size="100" data-line-height="100">
    <div class="modal-content">
        <div class="modal-content__close js-modal-content-close" title="Закрыть">
            <i class="fa fa-times"></i>
        </div>
        <div class="modal-content__full-size js-modal-content-full-size"
             title="Показать полный размер">
            <i class="fa fa-expand"></i>
        </div>
        <div class="modal-content__inner js-modal-content-inner">
            <img src="" />
            <div class="video-wrapper">
                <div class="video-player" data-playing="false">
                    <div class="video-player__controls">
                        <div class="video-player__controls__top">
                            <div class="video-player-position"></div>
                        </div>
                        <div class="video-player__controls__bottom">
                            <div class="video-player-play-pause js-video-player-play-pause">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="video-player-volume">
                                <i class="fa fa-volume-up"></i>
                            </div>
                            <div class="video-player-length"></div>
                            <div class="video-player-full-screen js-video-player-full-screen">
                                <i class="fa fa-expand"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <video src=""></video>
            </div>
            <iframe src=""></iframe>
            <div class="section-scroll js-scrollable-item">
                <div class="section-wrapper">
                    <section></section>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="side-effects-wrapper">
            <div class="text-shadow"></div>
            <div class="side-text-scroll-wrapper">
                <div class="side-text-scroll-left-wrapper">
                    <div class="side-text-scroll-left">
                        <div class="side-text-scroll-content js-side-text-scroll-left-content"></div>
                    </div>
                </div>
                <div class="side-text-scroll-right-wrapper">
                    <div class="side-text-scroll-right">
                        <div class="side-text-scroll-content js-side-text-scroll-right-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-scroll js-scrollable-item">
            <div class="text-wrapper" tabindex="0" data-xthreshold="100"></div>
        </div>
        <%= require('./menu.ejs')({params: params}) %>
        <%= require('./table-of-contents.ejs')() %>
        <%= require('./credits.ejs')() %>
        <%= require('./menu-full-screen.ejs')() %>
    </div>
</div>