<div class="page" data-theme="default" data-vibration="true">
    <div class="left-side"></div>
    <div class="right-side">
        <%= require('./text-and-effects.ejs')({context: context}) %>
        <%= require('./table-of-contents.ejs')({context: context}) %>
        <%= require('./menu.ejs')({context: context}) %>
    </div>
</div>