<div class="table-of-contents">
    <div class="table-of-contents__scroll js-scrollable-item">
        <div class="table-of-contents__inner">
            <header>
                Оглавление
            </header>
            <section>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="1">
                    <div class="table-of-contents__item__name">
                        Глава 1
                    </div>
                    <div class="table-of-contents__item__article">
                        Важный день
                    </div>
                    <div class="table-of-contents__item__page">
                        1
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="5">
                    <div class="table-of-contents__item__name">
                        Глава 2
                    </div>
                    <div class="table-of-contents__item__article">
                        Обратный отсчёт
                    </div>
                    <div class="table-of-contents__item__page">
                        5
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="10">
                    <div class="table-of-contents__item__name">
                        Глава 3
                    </div>
                    <div class="table-of-contents__item__article">
                        Дурной сон
                    </div>
                    <div class="table-of-contents__item__page">
                        10
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="17">
                    <div class="table-of-contents__item__name">
                        Глава 4
                    </div>
                    <div class="table-of-contents__item__article">
                        Бесконечный поток информации
                    </div>
                    <div class="table-of-contents__item__page">
                        17
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="20">
                    <div class="table-of-contents__item__name">
                        Глава 5
                    </div>
                    <div class="table-of-contents__item__article">
                        Пробиваясь сквозь горизонт
                    </div>
                    <div class="table-of-contents__item__page">
                        20
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="29">
                    <div class="table-of-contents__item__name">
                        Глава 6
                    </div>
                    <div class="table-of-contents__item__article">
                        По ту сторону изгороди
                    </div>
                    <div class="table-of-contents__item__page">
                        29
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="34">
                    <div class="table-of-contents__item__name">
                        Глава 7
                    </div>
                    <div class="table-of-contents__item__article">
                        Новый окрас
                    </div>
                    <div class="table-of-contents__item__page">
                        34
                    </div>
                </div>
                <div class="table-of-contents__item js-table-of-contents-item" data-go-to="34">
                    <div class="table-of-contents__item__name">
                        Глава 8
                    </div>
                    <div class="table-of-contents__item__article">
                        Тем временем на родной планете
                    </div>
                    <div class="table-of-contents__item__page">
                        36
                    </div>
                </div>
            </section>
            <div class="table-of-contents__footer">
                <div class="table-of-contents__footer__btn close js-table-of-contents-close">
                    Закрыть
                </div>
            </div>
        </div>
    </div>
</div>