<div class="text js-scrollable-item" data-font-size="100" data-line-height="100">
    <section>
        <p>
            Зазвенел будильник.
        </p>
        <p>
            Но он уже не спал, поэтому быстро нажал на кнопку выключения.
        </p>
        <p>
            Совершив утренний туалет, он оделся в «рабочую» форму и стал спускаться в подвал.
        </p>
        <p>
            В подвале всегда было темно и непонятно день сейчас или ночь. Девушка спала, уронив голову на левое плечо.
            Он достал устройство, напоминающее дефибриллятор, подключил его к розетке и прислонил электроды к спящей. Слегка покосившись на камеры, он стал выкручивать напряжение.
        </p>
    </section>
</div>
<div class="effects">
    <div class="effects__popups">

    </div>
    <div class="effects__sounds_bg">
        <audio preload data-effect-id="clock-alarm" data-effect-type="bg-sound" data-play-on-load="true"
               data-effect-params='{"stopBy": 7000, "fadeOutSpeed": 0}'
               data-effect-vibro='{"repeat": 5, "sleep": 1000, "duration": 200}'>
            <source src="/book_data/audios/sound/Alarm_clock.ogg" type="audio/ogg" />
            <source src="/book_data/audios/sound/Alarm_clock.mp3" type="audio/mpeg" />
        </audio>
    </div>
    <div class="effects__music_bg">

    </div>
    <div class="effects__sounds">

    </div>
</div>