<div class="text">
  <section>
    <p class="todo">
      [звук комбинации снова, но о другую поверхность]
    </p>
    <p>
      Вдруг часть забора стала отъезжать в сторону и сквозь маленькую щель на него уставилась девушка с приподнятой в
      удивлении бровью.
    </p>
    <p>
      — Я от Вени, мне нужна ваша помощь — затараторил Егор.
    </p>
    <p>
      — Ты странно выглядишь. Ладно, заваливай, — последовал ответ.
    </p>
  </section>
</div>
