<div class="text">
    <section>
        <p>
            Шли годы. Мария даже думала, что нашла того самого помимо Егора.
            Они даже создали ребёнка
            (уже давно люди не рожали их, а лишь давали необходимые для этого компоненты).
            Но нет, этот человек оставил её.
        </p>
        <p>
            И мысли о Егоре нахлынули с утроенной силой.
            Конечно, чувства притупились со временем, иначе можно было бы сойти с ума.
        </p>
        <p>
            Но и полностью не угасли. Где-то глубоко тлилась надежда, что он ещё вернётся.
            И самое главное - он сам сделает первый шаг.
        </p>
        <p>
            Она не может.
        </p>
    </section>
</div>