<div class="text">
    <section>
        <p>
            <b>[звук закрытия зверей и начало движения лифта]</b>
        </p>
        <p>
            Двери закрылись, но лифт поехал почему-то совсем не наверх, а вниз. Дисплей указывал -10 этаж.
        </p>
        <p>
            Потыкав на другие кнопки, стало ясно, что управление заблокировано.
        </p>
        <p>
            Егор всё достал пистолет и обхватил пальцами холодную сталь.
            Но в глубине души всё равно надеялся на какую-то ошибку системы.
        </p>
    </section>
</div>
