<div class="text">
    <section>
       <p>
           [звук закрытия люка (как в Дюке или Думе закрываются некоторые двери), oneShot]
           Включив систему поддержки сна, Егор лёг в специальную капсулу.
       </p>
        <p>
            Люк над головой закрылся.
        </p>
        <p>
            Почувствовалось лёгкое головокружение, которое всегда бывает перед тем как погрузиться в искусственный сон.
        </p>
        <p>
            Герой не успел ни о чём подумать — через секунду мысль резко оборвалась на середине.
            Морфей забрал его в свои объятия.
        </p>
    </section>
</div>