<div class="text">
    <section>
        <p>
            Сев в свой старенький седан, он повернул ключ зажигания и поехал в место Икс. Звуки
            радио заглушали учащённый от волнения стук сердца. Но мысли всё равно пробивались
            наружу:
        </p>
        <p>
            «Если столь быстрое перемещение сквозь пространство есть передача свойств объекта путём
            разрушения исходника.. Значит ли это, что переместится мой точный клон, а сам я погибну?
            Ведь сознание формируется в мозгу. А мозг будет уничтожен в одном месте и воссоздан в
            другом. Это как скопировать файл в другое место и удалить оригинал. Да, для всех
            остальных оба файла будут идентичны. Кроме самого «файла»..»
        </p>
    </section>
</div>