<div class="text">
    <section>
        <p>
            <b>[звуки дзынь и открывающегося лифта]</b>
        </p>
        <p>
            Лифт остановился, оттуда вышли наши старые знакомые - человек из правительства и Александр Сергеевич.
            Они о чём-то говорили с серьёзными лицами. Но слов было не разобрать.
        </p>
        <p>
            Внезапно человек из правительства посмотрел в сторону ящиков, где прятался Егор. Как будто бы случайно.
        </p>
        <p>
            Этого хватило для того, чтобы космонавт перепугался не на шутку. Решив, что ему конец - он сжался в комочек
            и не дышал.
        </p>
        <p>
            Но шаги продолжали удаляться, пока, наконец не стихли совсем.
        </p>
        <p>
            Через какое-то время герой всё же решил выглянуть из-за своего укрытия. Старых знакомых и след простыл.
        </p>
        <p>
            Он прощупал пистолет сквозь одежду, что дало ему немного уверенности.
        </p>
    </section>
</div>
