<div class="text">
  <section>
    <p>
      Егор проснулся от ужасной боли. Ему чудилось будто его избивают, всё тело ломало, особенно страдала голова.
      Мерещился полковник и человек из правительства, которые что-то говорили ему. А сам он был прикован к стене и не
      мог пошевелиться.
    </p>
  </section>
</div>
