<div class="text">
    <section>
        <p>
            Послышался выстрел.
        </p>
        <p>
            Прямое попадание. Но крови не было.
        </p>
        <p>
            Но и пошевелиться Егор не мог. Его парализовало.
        </p>
        <p>
            Тем временем отец со странным выражением на лице стал приближаться к Егору.
        </p>
        <p>
            Ближе, ещё ближе..
        </p>
        <p>
            Вот он уже протягивает руку..
        </p>
    </section>
</div>