<div class="text">
    <section>
        <p>
            Помощник президента поправил костюм, зажёг сигарету и смачно затянулся.
        </p>
        <p>
            Его лицо было непроницаемо.
        </p>
    </section>
</div>