<div class="text">
    <section>
       <p>
           Отложив монетку, Егор взялся за штурвал. Раскачивая корабль взад-вперёд, он стал таранить невидимый барьер.
       </p>
        <p>
            Эффекта не было.
        </p>
        <p>
            Тогда он стал увеличивать амплитуду.
        </p>
    </section>
</div>