<div class="text">
  <section>
    <p>
      — Так ты говоришь, что ты с другой вселенной? Вот это тебя жизнь помотала. Я что-то слышал про ракету и всё
      такое.. Но, вроде как, ты погиб, — сказал один из тех, кто был за забором.
    </p>
    <p>
      Оказалось, что существуют ополченцы, мечтающие свергнуть власть. Они пребывают в глубочайшем подполье, на них
      регулярно устраивают рейды и многих ловят. Но выручает то, что даже среди приближённых к власти есть люди с такими
      же идеями. Об этом не показывают по телевидению.
    </p>
    <p>
      А сейчас герои грелись вокруг костра под завалами старого здания.
    </p>
    <p>
      — Как видишь, цел и здоров. По какой-то причине они не хотели, чтобы люди узнали, что находится по ту сторону.
      Честно говоря, я так и не понял почему.
    </p>
    <p>
      — Видимо, на то есть свои причины, — хмыкнул предыдущий оратор, — ладно, ты не робей. Виктория проводит тебя до
      вокзала — он кивнул на девушку, которая впустила нашего героя за забор.
    </p>
    <p>
      — Как я могу отблагодарить вас? — спросил Егор.
    </p>
    <p>
      — Сочтёмся, друг мой. А пока просто помогай другим страждущим.
    </p>
    <p>
      — Конечно.
    </p>
    <p>
      — Вот и славно. Выдвигаемся на рассвете, отдохни пока, — вклинилась Виктория, — мы тебе постелили вон там, —
      девушка указала рукой в дальний угол.
    </p>
    <p>
      Егор проследовал по направлению руки и увидел старый матрас, застеленный зелёным покрывалом (тут, видимо, все
      помешаны на этом цвете).
    </p>
    <p>
      Хоть он и спал всю дорогу с Луны на Землю, но тут же свалился опять.
    </p>
  </section>
</div>
