<div class="text">
  <section>
    <p>
      – Ну что, голубчик, будем молчать? – вопрошал зампотыл.
    </p>
    <p>
      – А что тут скажешь? – ответил Егор.
    </p>
    <p>
      – Действительно, – пожал плечами безопасник и скомандовал, – а ну-ка наподдайте ещё!
    </p>
    <p>
      Егора пронзило током, всё тело выворачивало от боли.
    </p>
    <p>
      – И про друга его не забывайте!
    </p>
    <p>
      Рядом послышались стоны.
    </p>
    <p>
      Повернув голову, Егор увидел рядом с собой Кирилла — он был прикован к стене цепями, как и наш главный герой.
    </p>
    <p>
      – Говори, гадёныш, как ты смог преодолеть барьер вселенной? Почему другие просто умирают?! – кричали ему в ухо.
    </p>
  </section>
</div>
