<div class="text">
    <section>
        <h1>
            Глава 10.
        </h1>
        <h2>
            Траур и смутные сомнения.
        </h2>
        <p>
            Она рыдала уже 2 часа. Слёзы щипали глаза, но было сложно остановиться.
        </p>
        <p>
            Из последних новостей Мария узнала, что корабль Егора взорвался по неизвестным пока причинам. Шансы того,
            что Егор выжил равны нулю.
        </p>
        <p>
            «Ну как такое могло произойти?! Я не хочу в это верить!» — кричал голос в её голове.
        </p>
        <p>
            Обняв подушку, Мария встретила стадию отрицания.
        </p>
        <p>
            Достав наладонник, она стала смотреть старые совместные фотографии.
        </p>
        <p>
            Слёзы мешали сфокусироваться, она гневно смахивала их платком.
        </p>
        <p>
            Сейчас бы ей не помешала помощь друзей, но звонить никому не хотелось.
        </p>
        <p>
            Они тоже знали, что лучше дать ей время прийти в себя и не беспокоили.
        </p>
    </section>
</div>