<div class="text">
  <section>
    <p>
      Когда дверь за спиной захлопнулась, охранник ладонью закрыл рот Егору и прошипел:
    </p>
    <p>
      — Тихо, парень! Ты чего так орёшь со своими паролями? Хочешь, чтобы нас засекли? Сам знаешь, что с нами сделают!
    </p>
    <p>
      Он убрал руку.
    </p>
    <p>
      — Прошу прощения, — извинился Егор.
    </p>
    <p>
      — Ладно, вроде рядом никого не было, — остыл охранник, — пошли, залётчик.
    </p>
  </section>
</div>
