<div class="text">
    <section>
        <p>
            Огромные мониторы отображали бесконечный поток информации о пролетающих мимо объектах, состоянии корабля и членов экипажа (то есть, единственного члена).
        </p>
        <p>
            Как обычно — мелькало предупреждение об учащённом сердцебиении и рекомендация о приёме успокоительного.
        </p>
        <p>
            Егор хотел минимизировать свою зависимость от чего бы то ни было. Он и так, мол, зависит от кислорода, воды, витаминов и аминокислот, так ещё и на успокоительное подсесть ему предлагают. Вот уж дудки! Поэтому без крайней необходимости, он не употреблял подобные препараты. А уж тем более алкоголь и наркотики. Он так боялся зависимостей, что это вполне можно считать за настоящую фобию.
        </p>
    </section>
</div>