<div class="text">
  <section>
    <p>
      Таблеток не было, а он был так перевозбуждён, что не мог уснуть.
    </p>
    <p>
      Впрочем, ехать оставалось недолго.
    </p>
    <p>
      Егор репетировал, что он скажет Марии.
    </p>
    <p>
      А вот как он намерен скрываться и дальше — не было ни единой мысли.
    </p>
  </section>
</div>
