<div class="text">
    <section>
        <p>
            Выбора тут особо не было, поэтому Егор проглотил таблетки, запив стаканом воды.
        </p>
        <p>
            Очень скоро ему нестерпимо захотелось спать. Он лёг на край кровати и погрузился в омут Морфея.
        </p>
        <p>
            Улыбка тут же пропала с лица Александра Сергеевича.
        </p>
        <p>
            — Берите этого, обыщите. Наладонник и прочие личные вещи конфисковать. И установите новую точку назначения для корабля, — отдал он приказ.
        </p>
        <p>
            — Так точно! — хором отозвались офицеры.
        </p>
        <p>
            И, отложив оружие, служивые стали вязать космонавта.
        </p>
    </section>
</div>