<div class="text">
  <section>
    <p>
      – А ведь я надеялся, что мы смогли договориться, – молвил человек в костюме. Не смотря на то, что в вагоне было
      достаточно жарко, на мужчине не было и капли пота. Он продолжил:
      – Это так глупо. Ты правда думал, что сможешь сбежать? Не стоит недооценивать своего противника, Егор. Ох, не
      стоит. А тем более бежать в такой очевидный пункт назначения. Ещё и со своим гаджетом. И да, кстати, про Кирилла
      мы тоже в курсе. Но это уже не проблема.
    </p>
    <p>
      – Ч-что вы с ним сделали? – запинаясь спросил Егор. Его дыхание было быстрым и прерывистым.
    </p>
    <p>
      – А вот сам у него и спросишь, – ответил мужчина. Затем повернул голову вбок:
    </p>
    <p>
      – Александр Сергеевич, помогите гостю собрать чемоданы.
    </p>
    <p>
      Тут поднялся «безопасник». Выглядел он, мягко говоря, не очень. Но улыбался:
    </p>
    <p>
      – С превеликим удовольствием!
    </p>
  </section>
</div>
