<div class="text js-scrollable-item">
    <section>
        <p>
            Послышался треск и женский крик.
        </p>
        <p>
            Он всё увеличивал и увеличивал напряжение. Так продолжалось секунд 30.
        </p>
    </section>
</div>