<div class="text">
    <section>
        <p>
            Спустя пару минут, Егор уже стоял в униформе. Она была немного великовата, но в целом сидела хорошо.
            Она была белого цвета. Как и всё здесь вокруг.
        </p>
    </section>
</div>
