<div class="text">
    <section>
        <p>
            Герой открыл дверь, а за ней оказалась.. Ещё одна дверь.
        </p>
        <p>
            На этот раз вместо считывателя карт стоял обычный кодовый замок.
        </p>
        <p>
            Джей Си Дентон справился бы с ним в течение 5 секунд, но у Егора не было никаких электронных отмычек.
        </p>
    </section>
</div>
