<div class="text">
    <section>
       <p>
           [звуки ударов сердца, вторящая им вибрация]
           В первую очередь, Егор закрыл иллюминаторы. Белый свет просто ослеплял.
           Как будто самым мощным прожектором светили прямо в лицо.
       </p>
        <p>
            Сердце колотилось как бешеное. Охватил жуткий мандраж.
            Чтобы справиться с этим, путешественник закинул в рот максимально допустимую дозу успокоительного.
        </p>
        <p>
            «Я такими темпами наркоманом стану», — подумал Егор с досадой. Но делать нечего.
            Ситуация экстремальная. Он старался не забывать об этом.
        </p>
    </section>
</div>