<div class="text">
  <section>
    <p>
      Проснулся он от того, что кто-то тихонько, но настойчиво стучал ему по ботинкам.
    </p>
    <p>
      Открыв глаза, он увидел какого-то бородача в оранжевой робе как у заключённых.
    </p>
    <p>
      Бородач сразу приставил палец к губам, не веля говорить.
    </p>
    <p>
      Затем, посмотрев себе за спину, он наклонился и прошептал:
    </p>
    <p>
      — Я не знаю, кто ты. Но здесь тебе находиться нельзя. Судя по всему, ты сбежал из тюрьмы. Ходят слухи, что на Луне
      есть одна такая.
    </p>
    <p>
      Егор лишь кивнул в ответ. А бородач продолжил:
    </p>
    <p>
      — У тебя очень странный цвет кожи. Не то, что бы я был расистом, но такого я ещё не видывал. Видимо не за красивые
      глаза тебя держали на Луне. Ладно, это не важно. Я сам, можно сказать, попал в заточение. Я тебе помогу, — мужчина
      ещё раз глянул за плечо и продолжил, — ровно через 5 минут выйдешь отсюда и побежишь налево. Упрёшься в забор.
      Беги вдоль него, увидишь как по-над забором будет как бы мерцать кусок травы. Тебе нужно постучать по этому
      сегменту забора такую комбинацию:
    </p>
  </section>
</div>
