<div class="text">
    <section>
        <p>
            Подойдя к двери, Егор стал колотить в неё кулаками, пытаясь привлечь к себе внимание.
        </p>
        <p>
            Долгое время его попытки были тщетны.
        </p>
        <p>
            Но через какое-то время послышались шаги.
        </p>
    </section>
</div>