<div class="text">
  <section>
    <p>
      Наладонник досчитал до нуля.
    </p>
    <p>
      Егор осторожно выглянул наружу.
    </p>
    <p>
      Был приятный солнечный день. И даже воздух казался более свежим.
    </p>
    <p>
      Егор так давно не ощущал всего этого, что застыл на мгновение.
    </p>
    <p>
      Но надо было идти. Помотав головой и убедившись, что вокруг никого нет, он ломанулся налево.
    </p>
    <p>
      Забор оказался не так-то и близко, метров 200 точно.
    </p>
    <p>
      Он простирался по всему периметру площади. Заметив участок с травой между забором и каким-то зданием, Егор побежал
      в эту сторону.
    </p>
    <p>
      Далее он замедлил шаг, чтобы не пропустить нужный кусок травы.
    </p>
  </section>
</div>
