<div class="text">
    <section>
        <p>
            Раздался звук, чем-то отдалённо похожий на хлопок, затем ещё два.
            Вдруг замигала красная лампочка, предупреждая о поломке.
        </p>
        <p>
            Что-то пошло не по плану.
        </p>
    </section>
</div>