<div class="text">
    <section>
        <p>
            Вдруг замигала красная лампочка, предупреждая о поломке.
        </p>
        <p>
            Что-то пошло не по плану.
        </p>
        <p>
            А такое сообщение об ошибке никто никогда не видел:

            «В указанной области для телепортации не может находиться более одного объекта с одним и тем же идентификатором».
        </p>
        <p>
            «Как такое может быть? Бред какой-то», – подумал Егор.
        </p>
        <p>
            Дело в том, что во Вселенной у каждого объекта (одушевлённого или неодушевлённого) есть свой уникальный id. Даже у клонов он разный.
        </p>
        <p>
            Решив, что система просто дала сбой, космонавт проигнорировал сообщение и запустил операцию ещё раз.
        </p>
    </section>
</div>