<div class="text js-scrollable-item">
    <section>
        <p>
            [звук замедленных хлопков]
        </p>
        <p>
            Раздался звук, чем-то отдалённо похожий на хлопок, затем ещё два.
            Вдруг замигала красная лампочка, предупреждая о поломке.
        </p>
        <p>
            Что-то пошло не по плану.
        </p>
        <p>
            Продолжение следует..
        </p>
    </section>
</div>