<%
var options = htmlWebpackPlugin.options;
var context = options.context;

var params = {
    context: context,
    pagesLength: options.pagesLength,
    pageNumber: options.pageNumber
}
%>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <!-- <link rel="shortcut icon" href="/common/favicon.ico" type="image/x-icon" /> -->
    <title>activeBook 2.0</title>
</head>
<body class="initing" style="opacity: 0;">
    <%= require('elements/page.ejs')(params) %>
</body>

<script type="text/javascript" charset="utf-8" src="cordova.js"></script>
</html>