<div class="text">
  <section>
    <p>
      Поток его мыслей прервали галлюцинации, как тогда, ещё на Земле.
    </p>
    <p>
      Время от времени они преследовали его. В последнее время чаще.
    </p>
    <p>
      Он схватился за голову.
    </p>
    <p>
      В этот раз всё было гораздо отчётливее.
    </p>
  </section>
</div>
