<div class="text">
    <section>
       <p>
           Космонавт стал подбрасывать монетку — это всегда помогало ему думать.
       </p>
        <p>
            Плюс — хорошее средство разбавить гнетущую тишину.
        </p>
        <p>
            В голову ничего не приходило, кроме банального тарана. Ну а что?
            Любую стену можно пробить, нужно лишь достаточно сильно ударить.
        </p>
    </section>
</div>