<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="min-width=680, width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>ActiveBook Demo | Page {%pageNumber}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/css.css" />
    <link rel="stylesheet" href="../styles/css/font-awesome.css" />

    <!-- Scripts -->
    <script src="../js/viewport-min-width.js"></script>

    <!-- Jquery -->
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/jquery-migrate-1.2.1.js"></script>

    <!-- Jquery UI -->
    <script src="../js/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui/jquery-ui.min.css" />

    <!-- mCustomScrollbar -->
    <script src="../js/jquery.mousewheel.min.js"></script>
    <script src="../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" href="../js/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

    <!-- ion rangeSlider -->
    <script src="../js/ion.rangeSlider/ion.rangeSlider.min.js"></script>
    <link rel="stylesheet" href="../js/ion.rangeSlider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="../js/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css" />

    <!-- Remodal -->
    <script>
        window.REMODAL_GLOBALS = {
            DEFAULTS: {
                hashTracking: false
            }
        };
    </script>
    <script src="../js/remodal/remodal.min.js"></script>
    <link rel="stylesheet" href="../js/remodal/remodal.css" />
    <link rel="stylesheet" href="../js/remodal/remodal-default-theme.css" />

    <!-- Howler -->
    <script src="../js/howler.min.js"></script>

    <!-- oriDomi -->
    <script src="../js/oridomi.js"></script>

    <!-- hummer.js -->
    <script src="../js/hammer.min.js"></script>
    <script src="../js/jquery.hammer.js"></script>

    <!-- Custom scripts -->
    <script src="../js/js.js"></script>
</head>
<body>
    {%page}
</body>
</html>