<div class="text">
    <section>
        <h1>
            Глава 7.
        </h1>
       <p>
           Прошло немногим меньше месяца, когда Егор пробудился.
       </p>
        <p>
            Но то, что он увидел — его мало обрадовало.
        </p>
        <p>
            Сквозь иллюминаторы виднелись обычные астероиды и звёзды.
        </p>
        <p>
            Вполне обычная картина для путешественника, бороздящего просторы Вселенной.
        </p>
        <p>
            Кроме одного.
        </p>
        <p>
            Их цвет был полностью противоположным.
        </p>
        <p>
            Астероиды были ближе к грязно-чёрному, чем к грязно-белому.
        </p>
        <p>
            Жёлтые звёзды стали синими. Синие — жёлтыми. А красные — коричневыми.
        </p>
        <p>
            Но всё было на своих местах — и звёзды, и галактики.
        </p>
        <p>
            Если цвет — это и была вся разница, это означало, что можно пользоваться телепортацией,
            все координаты должны совпадать.
        </p>
    </section>
</div>